@import '../defaults.scss';

minds-button-subscribe, minds-groups-join-button, minds-button-edit, minds-button-feature{

  button{
    cursor:pointer;
    background: transparent;
    border: 1px solid #78909c;
    color: #78909c;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
  }

  &:focus,button:focus{
    outline: none;
    -webkit-appearance:none;
  }

  button:hover,button.subscribed,button.selected{
    background-color: #78909c;
    color:#FFF !important;
  }
}

minds-button-feature > button{
  padding:4px;
}

minds-button-remind, minds-button-thumbs-up, minds-button-thumbs-down{
  a{
    cursor:pointer;
  }
}

.minds-boost-button{
  background-color: #4690D6 !important;
  font-size: 12px;
  height: auto;
  min-height: 0;
  line-height: 18px;
  text-transform: capitalize;
  align-self: center;
  padding: 3px 0;
  min-width: 62px;
  width: auto;
  margin: -3px 0;
  display: block;
}

.selected{
  color:$minds-blue !important;
}

counter:before{
  content:'( ';
}
counter{
  font-family:"Lato", "Helvetica", "Roboto", sans-serif;
  display:inline-block;
  font-size:12px;
  // font-weight:bold;
  vertical-align: middle;
  padding:0;
}
counter:after{
   content:' )';
}
