@import '../defaults.scss';


minds-card-user, .minds-banner-card{
  min-height:0;

  .minds-usercard-banner{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position:relative;

    > img{
      min-width:100%;
      max-width:100%;
    }

    .minds-banner-overlay{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(transparent, rgba(0,0,0,0.8));
    }
  }

  .minds-usercard-block{
    margin-top: -72px;
    padding-bottom:0;
    position:relative;
    display:flex;
    text-decoration: none;
    color:$minds-white;

    .body{
      flex:1;
      margin: $minds-margin*2;

      h3{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 18px;
        padding: 0;
        margin: 0;
      }
      button{
        margin-top:$minds-margin;
        width:100%;
      }
    }
  }

  minds-button-subscribe{
    position: absolute;
    margin: -38px 130px;
  }

  minds-button-feature{
    position: absolute;
    top: 8px;
    right: 8px;
    button {
      padding:0;
    }
  }

  .minds-tabs{
    flex: 1;
    align-items: flex-start;
    -webkit-align-items: -webkit-flex-start;
    justify-content: flex-start;
    border:0;

    a {
      padding: 0 $minds-padding;
      flex: auto;

      span {
        width: 100%;
        display: block;
        font-size:11px;
        height: 11px;
        vertical-align: middle;
        line-height: 36px;
      }
    }

  }
}

minds-card-album{
  .minds-album-tiles{
    margin: -16px;
    height: 200px;
    overflow: hidden;
    @include flex-display();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    align-items: stretch;
    -webkit-align-items: stretch;

    > a{
      flex: auto;
      width: 30%;

    img{
      max-height: 100%;
      max-width: 100%;
      }
    }
  }

  .minds-album-tiles.tiles-1 > a{
      width:100%;
  }
  .minds-album-tiles.tiles-2 > a{
    width:50%;
    img{
      max-height:150%;
      max-width:150%;
    }
  }
  .minds-album-tiles.tiles-3 >a{
    width:33%;
  }

}

minds-activity.mdl-card, minds-activity{
  width:auto;
  min-height:0;
  margin-bottom:16px;
  border-radius:3px;
  overflow:visible;

  .mdl-card__supporting-text{
    width:100%;
    box-sizing: border-box;
    color: initial;

    a{
      text-decoration: none;
    }
  }
  .mdl-card__supporting-text.message{
    white-space: pre-line;
  }

  minds-comments{
    margin-top:0;
  }

  /**
   * Action tabs
   */
  .tabs{
    padding:$minds-padding+2 $minds-padding*2;
    @include flex-display();
    box-sizing:border-box;

    > * {
      @include flex-display();
      @include flex-direction(column);
      @include flex(1);

      text-align:center;
      cursor:pointer;
    }
    > template, script{
      display:none;
    }
    > a.minds-boost-button{
      max-width:40px;
    }
    .selected{
      color:$minds-blue !important;
    }
    i{
      vertical-align: middle;
      font-size:22px;
    }

  }

  .impressions-tag{
    position: absolute;
    z-index: 999;
    right: -5px;
    bottom: -8px;
    background-color: #888;
    padding: 3px 8px;
    font-size: 10px;
    line-height: 9px;
    color: #FFF;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
  }

  .minds-more{

    i {
      font-size: 30px;
      transform: translate(-16px, -12px);
      font-weight: 100;
    }
  }

  /**
   * Rich embeds
   */
  .minds-rich-embed{

    a{
      width:100%;
    }
    img {
      width:100%;
    }

    .meta{
      padding:$minds-padding*2;
      display:block;
      text-decoration: none;
      width: calc(100% - 32px);

      p{
         font-size:13px;
         text-overflow: ellipsis;
         text-rendering: auto;
         white-space: pre-wrap;
         overflow: hidden;
         max-height: 45px;
      }
    }
  }

  .item-image-video{
    video{
      width:100%;
      height:auto;
    }
  }

  .is-boosted{
    color:#888;
    padding:$minds-padding;

    i{
      top: 6px;
       position: relative;
    }
    a{
      color:#888;
      font-weight:bold;
    }
  }

  /**
   * Remind
   */
  minds-remind{
    margin:$minds-margin * 2;
    width:auto;
    min-height:0;
    overflow: visible;
  }



}
