@import '../defaults.scss';

.minds-banner{
  position:relative;
  max-height:300px;
  overflow:hidden;

  .minds-banner-img{
    width:100%;
    min-width:2000px;
    position: relative;
    height: inherit;
    background-position: 0, 0;
    background-size: fixed;
    background-repeat: no-repeat;
  }

  img{
    width:100%;
    min-width:2000px;
    position: relative;
  }
  .minds-banner-overlay{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
  }

  &.minds-banner-editing{
    img{
      cursor:move;
    }

    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #FFF;
      background: rgba(0, 0, 0, 0.3);
      /* align-items: center; */
      /* display: flex; */
      text-align: center;
      padding-top: 116px;
      cursor: pointer;

      i{
        font-size: 62px;
        width: 100%;
      }
      span{
        font-weight: 200;
        padding: $minds-padding*2;
        display: block;
      }
    }
    .save-bar{
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding:$minds-padding $minds-padding*2;
      background-color: rgba(0,0,0,0.5);
      @include flex-display();
      align-items: flex-end;
      -webkit-align-item: flex-end;
      @include flex-direction(row);

      p{
        margin: 0;
        padding: 4px 16px;
        color: #FFF;
      }
      minds-button-edit{
        padding:0 $minds-padding;
      }

    }
    input[type="file"]{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.minds-dropdown-menu{
  padding: 0;
  width: 150px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  position: absolute;
  z-index: 999999;
  top: 8px;
  right: 8px;
  background-color: #FFF;
  overflow: visible;
  display: block;

  .mdl-menu__item{
    opacity:1;
  }

}

/**
 * Minds video components
 */
minds-video{
  position: relative;
  display:block;

  video{
    width:100%;
  }
  .minds-video-bar-min{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    bottom: 8px;
    left: 8px;
    width: auto;
    color: #FFF;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
  }
  .minds-video-bar-full{
    display:none;
    position:absolute;
    background-color: rgba(0,0,0,0.4);
    color:#FFF;
    bottom:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    padding:$minds-padding;
    text-align:center;

    > span, i{
      @include flex(1);
      &.progress-bar{
          @include flex(6);
          position: relative;
          bar{
            position: absolute;
            left: 0px;
            height: 2px;
            vertical-align: middle;
            border-radius: 2px;
            margin-top: 11px;
            background-color: rgb(255, 255, 255);
            &.total{
              background-color: rgba(255, 255, 255, 0.5);
              width:100%;
            }
          }
      }
      &.progress-stamps{
        font-size: 12px;
        font-weight: 300;
        font-family: 'Lato';
        flex: 2;
      }
      cursor:pointer;

    }
  }

  &:hover{
    .minds-video-bar-min{
      display:none;
    }
    .minds-video-bar-full{
      @include flex-display();
    }
  }
}

/**
 * Carousel
 */
minds-carousel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  overflow: hidden;
  //z-index:-1;

  minds-banner{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.is-hidden .minds-banner{
      opacity:0;
    }

    &.is-hidden.edit-mode {
      display:none;
    }

    .minds-banner{
      height:100%;
      max-height:100%;
      opacity:1;
      transition: opacity .25s ease-in-out;
    }

    .save-bar{
      display:none !important;
    }
  }

  .delete-button{
    position:absolute;
    top:8px;
    right:8px;
    z-index:9999;

    > *{
      font-size:11px;
    }
  }

  > i{
    top: 50%;
    z-index: 999;
    position: absolute;
    color: #FFF;
    font-size: 60px !important;
    cursor: pointer;

    &.right{
      right:0;
    }
  }

  .placeholder{
    background-color:#4690C3;
    opacity:1;
  }
 }


.minds-card-navigation, .minds-settings-nav{

  list-style: none;
  min-height:0;
  width:auto;
  padding:0;
  margin:0;

  li{
   text-align: left;
   padding: 0;
   margin:0;
   cursor: pointer;
   font-size: 14px;
   width: auto;
   border-bottom: 1px solid rgba(0,0,0,.12);

   :hover{
     background-color: #EEE;
     text-decoration: none;
   }

   a{
     display:block;
     padding:$minds-padding *2;
     text-decoration: none;
   }

 }

}

.m-actions-block{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;

  > * {
    margin-right:$minds-margin;

    i {
      vertical-align: middle;
    }
  }
}
.m-additional-block{
  display:flex;
  font-size:12px;

  > * {
    margin-right:$minds-margin;
    display: flex;
    align-items: center;

    i {
      padding:$minds-padding;
    }
  }
}

minds-button-user-dropdown{
  .minds-dropdown-menu{
    top: 50px;
    margin-top: 0;
    position: absolute;
    text-transform: capitalize;
  }
}

minds-graph-line{
  display: block;
  margin-bottom: 16px;
}

.graph-labels{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > .graph-label{
    flex:1;
    text-align:center;
    font-weight:light;

    b{
      display:block;
      font-size: 9px;
      text-transform: uppercase;
    }
  }

}
