
.m-h1-input{
  font-size: 56px;
  border: 0;
  background: none;
  height: 72px;
  font-weight: 300;
}


.m-form-select, select.m-form-select{
  width: auto;
  flex: 1;
  padding: 8px;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
