@import 'defaults.scss';


minds-admin-analytics{

  .mdl-card{
    min-height:0;
    width:auto;

    .results{
      @include flex-display();
      @include flex-direction(column-reverse);

      .row{
       flex:1;
       padding:$minds-padding;
       border-bottom:1px solid #EEE;

       > label{
         width:60%;
         float:left;
       }

      }
    }
  }

}
