@import 'defaults.scss';

.minds-boost-container{
  width : 100%;

  > .mdl-cell{
    margin:0;
    width: calc(50% - 8px);
    text-align: center;
  }
  > .mdl-cell:nth-of-type(1){
    border-right: 1px solid #CCC;
    padding-right: 16px;
  }
  > .mdl-cell:nth-of-type(2){
    padding-left:16px;
  }

  .mdl-textfield{
    width:100%;
  }
}

.minds-boost-button{
  background-color:$minds-blue;
}

.minds-boost-button-selector{
  cursor: pointer;

  h3{
    margin: 0;
    font-size: 24px;
  }
}

.minds-boost-block{
  text-align: left;

  p{
   color:#888;
   font-size:11px;
  }
}

.minds-boost-error-message{
  margin-bottom:$minds-margin*2;
  border-radius:3px;
}

.minds-boost-button--bottom{
  float:right;
}

.minds-boost-points-wrapper{
  @include flex-display();
  padding:0;
  margin:0;

  .minds-boost-points-input{
    @include flex-display();
    align-items:center;
    -webkit-align-items: center;
    padding:0;
    margin:0;

    > div{
      padding: $minds-padding;
    }
    > div:nth-of-type(1){
      @include flex(3);
    }
    > div:nth-of-type(2){
      @include flex(1);
    }

    input{
      background: #FFF;
      border: 0;
      border-radius: 0;
      font-size: 16px;
      height: auto;
      /* font-weight: 700; */
      text-align: right;
      padding: 16px;
      -webkit-box-shadow: inset 0 0 3px #888;
      box-shadow: inset 0 0 3px #888;
      width: 100%;
    }
    input:disabled{
      background:#FAFAFA;
    }
    label {
      font-weight: 200;
      font-size: 22px;
    }
  }
  .minds-boost-points-input:nth-of-type(1){
    padding-right:$minds-padding *2;
  }
}
