@import 'defaults.scss';

subscribe-button, minds-groups-join-button{

  button{
    cursor:pointer;
    background: transparent;
    border: 1px solid #78909c;
    color: #78909c;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
  }

  button:hover,button.subscribed{
    background-color: #78909c;
    color:#FFF;
  }
}

.minds-boost-button{
  background-color: #4690D6 !important;
  font-size: 12px;
  height: auto;
  min-height: 0;
  line-height: 24px;
  text-transform: capitalize;
  align-self: center;
  padding: 3px 0;
  min-width: 62px;
  width: auto;
  margin: -3px 0;
  display: block;
}
