@import 'defaults.scss';

minds-capture{
  height:100%;
  display:block;
}

.drag-animation{
  position: fixed;
  @include flex-display();
  @include flex-direction(row);
  align-items:center;
  -webkit-align-items:center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 100;
  animation: fade-animation 2s infinite alternate;

  .drop{
    @include flex-display();
    @include flex-wrap(wrap);
    text-align: center;
    margin:auto;
    width:50%;
    height:50%;


    i{
      font-size:12em;
      width:100%;
    }
    p{
      width:100%;
    }
  }
}
@keyframes fade-animation {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 0.8;
    }
}


.capture-grid{
  .mdl-card{
    min-height:0;
    width:100%;
  }

  .minds-albums-selector{

    .mdl-button.minds-album-add{
      width:24px;
      min-width:0;
      height:24px;
      margin-left:$minds-margin;

      i{
        font-size:12px;
      }
    }

    .minds-album{
      border-bottom:1px solid #DDD;
      cursor:pointer;

      h2{
        margin:0;
        font-size:14px;
        line-height:16px
      }


    }

    .minds-album-create{
      input{
        outline: none;
        border: 0;
        font-size: 14px;
        border-right: 1px solid #DDD;
        background:rgba(255,255,255,0.2);
        color:#FFF;
      }

      button{
        float:left;
      }
    }
  }

  .upload-button{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    cursor:pointer;

    button{
      cursor:pointer;
    }

    input{
      position: absolute;
       color: #888;
       position: absolute;
       height: 100%;
       width: 100%;
       top: 0;
       left: 0;
       cursor: pointer;
       opacity: 0;
    }
    input::-webkit-file-upload-button{
      cursor:pointer;
    }

  }

  .minds-upload{
    input{
      outline: none;
      border: 0;
      font-size: 14px;
      border-right: 1px solid #DDD;
    }
    .mdl-progress{
      width:100%;
    }
  }

}
