@import 'defaults.scss';

/**
 * Channel profile pages
 */
minds-channel{

  header{
    @include flex-display();
    align-items: flex-end;
    -webkit-align-items: -webkit-flex-end;
    height:330px;
    box-sizing:content-box;
    position:relative;
    overflow:hidden;

    .channel-grid{
      align-items:flex-end;
      -webkit-align-items: flex-end;
      padding:0;
    }

    .channel-header-bar{
      z-index:2;
    }

    .minds-channel-title{
      @include flex-display();
      margin:0;
      width: 320px;

      .avatar{
        max-width:200px;
        img{
          max-height:220px;
          max-width:100%;
          border-radius:3px;
        }
      }

      > div{
        @include flex-display();
        align-items: flex-end;
        -webkit-align-items: flex-end;
        padding:$minds-padding;

        .flex-bottom{

          h1{
            margin:0;
            line-height:30px;
            font-size:24px;
          }

          h3{
            margin:0;
            line-height:18px;
            font-size:13px;
          }
        }
      }

    }

  &.isLocked{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:150px;
    z-index:999;
    .minds-channel-title > div h1{
      font-size:18px !important;
    }
    .minds-channel-title .avatar img{
      max-height:60px;
    }
  }

  .minds-tabs{
    @include flex(1);
    align-items: flex-start;
    -webkit-align-items: -webkit-flex-start;
    justify-content: flex-start;
    border:0;

    a {

      span {
        width: 100%;
        display: block;
        font-size:11px;
        height: 11px;
        vertical-align: middle;
        line-height: 36px;
      }
    }

    minds-button-subscribe, minds-button-edit{
      padding-top: 12px;

      button{
        color:#eceff1;
        border:1px solid #eceff1;
      }
    }
    minds-button-edit > button{
      padding: 6px 12px;
      font-size: 18px;
      margin: 0px 30px;
    }

  }
 }

 .minds-channel-sidebar{
   .mdl-card{
     width:100%;
     min-height:0;
   }
 }

 .minds-channel-edit-avatar{
   max-height: 180px;
   max-width: 100%;
   border-radius: 3px;
  }

  .minds-channel-edit-upload-separator{
    border-left: 1px solid #ccc;

    input{
      padding: 16px;
    }

    button{
      margin-left: 16px;
    }
  }

  .minds-channel-media-sidebard{
    display: flex;
    flex-wrap: wrap;
    a {
      max-width:80px;
      display:inline-block;
      width:33%;
    }
    img{
      width: 100%;
    }
  }

  .minds-channel-blog-sidebar-blogs{
    padding: $minds-padding;
    padding-left: $minds-margin*2;

    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  .minds-channel-sidebar-loader{
    margin-left: $minds-margin*2;
  }

  @media screen and (max-width: 720px){

    header {
      &.isLocked{
        height: 120px;
      }
      .channel-grid{
        width: 100%;
        .minds-channel-title{
          width: 100% !important;

          h1{
            margin:0;
            line-height:30px;
            font-size:14px;
          }
        }
        .minds-tabs{
          width: 100%;
          .mdl-tabs__tab{
            padding:0 $minds-padding;
          }

        }
      }
    }

  }
}
