@import 'defaults.scss';

/**
 * Channel profile pages
 */
minds-channel{

  header{
    @include flex-display();
    align-items: flex-end;
    -webkit-align-items: -webkit-flex-end;
    height:330px;
    box-sizing:content-box;
    position:relative;
    overflow:hidden;

    .channel-grid{
      align-items:flex-end;
      -webkit-align-items: flex-end;
      padding:0;
    }

    .minds-channel-title{
      @include flex-display();
      margin:0;

      .avatar{

        img{
          max-height:220px;
          max-width:100%;
          border-radius:3px;
        }
      }

      > div{
        @include flex-display();
        align-items: flex-end;
        -webkit-align-items: flex-end;
        padding:$minds-padding;

        .flex-bottom{

          h1{
            margin:0;
            line-height:30px;
            font-size:24px;
          }

          h3{
            margin:0;
            line-height:18px;
            font-size:13px;
          }
        }
      }

    }


  .minds-tabs{
    @include flex(1);
    align-items: flex-start;
    -webkit-align-items: -webkit-flex-start;
    justify-content: flex-start;
    border:0;

    a {

      span {
        width: 100%;
        display: block;
        font-size:11px;
        height: 11px;
        vertical-align: middle;
        line-height: 36px;
      }
    }

    subscribe-button{
      padding-top: 12px;

      button{
        color:#eceff1;
        border:1px solid #eceff1;
      }
    }

  }
 }

 .minds-channel-sidebar{
   .mdl-card{
     width:100%;
     min-height:0;
   }
 }
}
