@import 'defaults.scss';

.minds-banner{
  max-height:300px;
  overflow:hidden;
  img{
    width:100%;
  }
}

.minds-dropdown-menu{
  padding: 0;
  width: 150px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  position: absolute;
  z-index: 999999;
  top: 8px;
  right: 8px;
  background-color: #FFF;
  overflow: visible;
  display: block;

  .mdl-menu__item{
    opacity:1;
  }

}

/**
 * Minds video components
 */
minds-video{
  position: relative;
  display:block;

  video{
    width:100%;
  }
  .minds-video-bar-min{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    bottom: 8px;
    left: 8px;
    width: auto;
    color: #FFF;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
  }
  .minds-video-bar-full{
    display:none;
    position:absolute;
    background-color: rgba(0,0,0,0.4);
    color:#FFF;
    bottom:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    padding:$minds-padding;
    text-align:center;

    > span, i{
      @include flex(1);
      &.progress-bar{
          @include flex(6);
          position: relative;
          bar{
            position: absolute;
            left: 0px;
            height: 2px;
            vertical-align: middle;
            border-radius: 2px;
            margin-top: 11px;
            background-color: rgb(255, 255, 255);
            &.total{
              background-color: rgba(255, 255, 255, 0.5);
              width:100%;
            }
          }
      }
      &.progress-stamps{
        font-size: 12px;
        font-weight: 300;
        font-family: 'Lato';
        flex: 2;
      }
      cursor:pointer;

    }
  }

  &:hover{
    .minds-video-bar-min{
      display:none;
    }
    .minds-video-bar-full{
      @include flex-display();
    }
  }
}

/**
 * Carousel
 */
 .minds-carousel{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 380px;
  z-index:-1;

  .minds-carousel-item{
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    opacity: 0;
    overflow: hidden;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    position: absolute;
    display: block;

    .minds-carousel-overlay{
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    }
  }
  .placeholder{
    background-color:#4690C3;
    opacity:1;
  }
 }


.minds-card-navigation, .minds-settings-nav{

  list-style: none;
  min-height:0;
  width:auto;
  padding:0;
  margin:0;

  li{
   text-align: left;
   padding: 0;
   margin:0;
   cursor: pointer;
   font-size: 14px;
   width: auto;
   border-bottom: 1px solid rgba(0,0,0,.12);

   :hover{
     background-color: #EEE;
     text-decoration: none;
   }

   a{
     display:block;
     padding:$minds-padding *2;
     text-decoration: none;
   }

 }

}
