/**
 * Colours
 */
$minds-grey: #e3e3e3;
$minds-blue: #4690D6;

/**
 * Padding, Margins and Offset
 */
$minds-padding: 8px;
$minds-margin: 8px;
$minds-top-height: 50px;
$minds-navigation-width: 232px;
