@import 'defaults.scss';
/**
 * Infinite scroll
 */
infinite-scroll{
  text-align:center;
  padding:$minds-padding*2;

  > div {
    margin:auto;
    display:block !important;
  }
}

/**
 * Carousel
 */
