@import 'defaults.scss';
/**
 * Infinite scroll
 */
infinite-scroll{
  text-align:center;
  padding:$minds-padding*2;

  > div {
    margin:auto;
    display:block !important;
  }
}

/**
 * Carousel
 */
 .minds-carousel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  z-index:-1;

  .minds-carousel-item{
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    opacity: 0;
    overflow: hidden;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    position: absolute;
    display: block;

    .minds-carousel-overlay{
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
    }
  }
  .placeholder{
    background-color:#4690C3;
    opacity:1;
  }
 }
