@import 'defaults.scss';

/**
 * Newsfeed and timelines
 */
 minds-newsfeed, minds-channel, minds-groups-profile{

   /**
    * Activity card
    */
   .item.mdl-card{
     width:auto;
     min-height:0;
     margin-bottom:16px;
     border-radius:3px;

     .mdl-card__supporting-text{
       width:100%;
       box-sizing: border-box;
       color: initial;
     }
     .mdl-card__supporting-text.message{
       white-space: pre-line;
     }

     /**
      * Action tabs
      */
     .tabs{
       padding:$minds-padding $minds-padding*2;
       @include flex-display();
       box-sizing:border-box;

       > * {
         @include flex-display();
         @include flex-direction(column);
         @include flex(1);

         text-align:center;
         cursor:pointer;
       }
       > template{
         display:none;
       }
       .selected{
         color:$minds-blue !important;
       }
       i{
         vertical-align: middle;
       }

     }

     .minds-more{

       i {
         font-size: 30px;
         transform: translate(-16px, -12px);
         font-weight: 100;
       }
     }

     /**
      * Rich embeds
      */
     .minds-rich-embed{
       img {
         width:100%;
       }
       .meta{
         padding:$minds-padding*2;
         display:block;
         text-decoration: none;
       }
     }

     /**
      * Remind
      */
     minds-remind{
       margin:$minds-margin * 2;
     }


   }

   /**
    * Post form
    */
   .post{
     padding:$minds-padding * 2;
     margin-bottom:$minds-padding * 2;
     width:100%;
     min-height:0;
     @include flex-direction(row);
     @include flex-wrap(wrap);

     .minds-avatar{
       margin-right:$minds-margin;
       img{
         width: 50px;
         border-radius: 3px;
       }
     }

     form{
       @include flex(1);
       margin-bottom:0;

       .mdl-textfield__input{
         width:100%;
         padding-top:0;
         border:0;
         font-size: 13px;
         padding: 8px;
       }
       .mdl-textfield__input:focus{
         outline:none;
       }

     }

     .post-preview{
       margin:-$minds-padding * 2;
       position:relative;
       width:110%;

       .mdl-spinner{
         margin: $minds-padding * 2 auto;
         display:block;
       }
       .attachment-preview{
         width:100%;
       }
       .attachment-preview-delete{
         display:none;
       }
     }
     .post-preview:hover{

       .attachment-preview-delete{
          display:block;
         position:absolute;
         top:0;
         left:0;
         width:100%;
         height:100%;
         background:rgba(0,0,0,0.6);
         align-items: center;
         -webkit-align-items: center;
         i{
          font-size:40px;
          color:#FFF;
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          position: absolute;
         }
       }

     }

     .mdl-card__actions{
       text-align:right;

       .attachment-button:before{
         color: #888;
         font-family:'material icons';
         content: 'attachment';
         position: absolute;
         top: 7px;
         left: 6px;
       }

       .attachment-button{
         display:inline-block;
         vertical-align:middle;
         position:relative;
         overflow:hidden;
         cursor:pointer;

         i{
           cursor:pointer;
         }

         input{
           position: absolute;
            color: #888;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            opacity: 0;
         }
         input::-webkit-file-upload-button{
           cursor:pointer;
         }

       }
       .mdl-button {
         width:0;
       }

     }

   }
 }


.notifications-grid{
  .mdl-card{
    width:100%;
    min-height:0;
    padding:$minds-padding * 2;
    margin-bottom:$minds-margin*2;

    @include flex-display();
    @include flex-direction(row);

    .avatar{
      @include flex-display();
      @include flex-direction(column);

      img{
        border-radius: 3px;
        max-height:50px;
      }
    }

    .body{
      padding:0 $minds-padding*2;

      a{
        color:#333;
        text-decoration: none;
      }

      p{
        padding:0;
        margin:0;
      }

      .ts{
        font-size:11px;
      }
    }
  }
}


.minds-video-thumbnail{

  span{
    color: #FFF;
    font-size: 72px;
    text-align: center;
    width: 100%;
  }
}

/**
 * Owner block
 */
.owner-block{
  padding:$minds-padding * 2;
  @include flex-display();

  .avatar{
    @include flex-display();
    @include flex-direction(column);

    img{
      border-radius: 3px;
      max-height:50px;
    }
  }

  .body{
    @include flex-display();
    @include flex-direction(column);
    margin-left:$minds-margin * 2;
    margin-top:$minds-margin;
  }

  a {
    text-decoration:none;
    font-weight:500;
    color:#333;
  }

  span {
    color:#888;
    font-size:11px;
  }

  img {
    border-radius:3px;
  }
}

.search-users-list{
	position: absolute;
	margin-top: -60px;
	left: 8px;
	width: calc(100% - 16px);
	opacity:1;
	z-index:9;
}
.search-users-list > div{
	padding:8px;
	font-size:22px;
	font-weight:bold;
	text-align:left;
}
.search-users-list > div img{
	vertical-align: middle;
	border-radius:2px;
	box-shadow:0 0 3px #888;
	width:35px;
	height:35px;
	overflow:hidden;
	position:relative;
}
.search-results{

  .mdl-card{
    margin-bottom:$minds-margin;
    width:100%;
  }
}
