@import 'defaults.scss';
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900,300italic,700italic|Indie+Flower);

h1,h2,h3,h4{
  font-family:'Lato';
}
h1{
  font-weight:300;
}

minds-app{
  .initial-loading{
    width:100%;
  }
}

.minds-noshadow{
  box-shadow:0 0 0 !important;
}
minds-topbar{

  .mdl-layout__drawer-button{
    color: rgba(0, 0, 0, 0.54) !important;
  }
  .mdl-layout__header-row{
    padding-left:$minds-padding*4;
  }

  .minds-logo{
    /*position:absolute;
    top:0;
    left:0;
    height:64px;
    box-sizing: border-box;
    padding:$minds-padding $minds-padding $minds-padding*2;*/

    height: 64px;
    box-sizing: border-box;
    padding: $minds-padding 0 $minds-padding*2;
    margin-right: $minds-padding*4;

    img{
      height:100%;
    }
  }

  minds-search-bar{
    width:60%;
    .mdl-textfield {
      width:100%;
      .material-icons{
        position:absolute;
        margin:6px;
      }
      input{
        border: 1px solid rgba(0,0,0,.12);
      }
      input, label{
        padding:$minds-padding $minds-padding*4;
        box-sizing: border-box;
      }
    }
  }

  minds-topbar-navigation{
    nav{
      display:flex;
      flex-direction: row;

      a {
        display:flex;
        align-items:center;
        padding-right: $minds-padding;

        .counter{
          padding:$minds-padding/2;
        }
      }

    }
  }

  .minds-account{
    img{
      max-height: 42px;
      border-radius: 3px;
    }
  }

   .minds-menu-button {
    display:none;

    i{
        padding:12px 0;
    }
  }
}


.mdl-layout__drawer {
  /*width:100px;*/
  width:80px;
  //height:calc(100% - 64px);
  //top: 64px;
}
.mdl-layout--fixed-drawer>.mdl-layout__content{
  margin-left:80px;
}


.minds-sidebar{
  border:0;
  margin-top:64px;

  minds-sidebar-navigation{
    padding-top:0 !important;

    .minds-account{
      padding:$minds-padding*2;

      img{
        border-radius:50%;
      }

      .minds-account-dropdown{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
      }
    }

    nav.minds-navigation{
      padding-top:0 !important;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      .mdl-navigation__link{
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
        padding: 24px 38px;
        font-weight:200;
        font-size:11px;
        text-transform: lowercase;
        font-family: 'Lato', 'Helvetica', sans-serif;
        border-bottom: 1px solid rgba(255,255,255,0.05);

        .material-icons {
          font-size: 26px;
          color: rgba(255, 255, 255, 0.56);
        }
      }
    }

  }
}

@media screen and (max-width: 1024px){
  minds-topbar {

    .minds-menu-button{
      display:block;
    }
    .mdl-layout__header-row{
      padding-left:72px;
    }
    minds-search-bar{
      width:45%;
    }
  }
  .mdl-layout__drawer {
    margin-top:56px;
  }
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left:0;
  }
}

@media screen and (max-width: 720px){
  minds-topbar {
    .minds-logo{
      display:none;
    }
  }
}

.minds-login-box{
  padding:$minds-padding * 2;
  margin:auto;
}

.mdl-tabs__tab.is-active{
  border-bottom:2px solid $minds-amber;
}

.mdl-textfield__label{
  .material-icons{
    line-height: 0;
    vertical-align: middle;
  }
}
.mdl-card__supporting-text{
  textarea{
    color: rgba(0,0,0,.87);
    font-size: 13px;
    line-height: 18px;
    resize:none;
  }
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.1),0 1px 5px 0 rgba(0,0,0,.07);
}
.mdl-shadow--4dp {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.1),0 1px 5px 0 rgba(0,0,0,.07);
}

.coming-soon{
  section {
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 55px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
  }
}

.mobile-ad{
  min-height:0;
}

.minds-spacer{
  height:$minds-padding;
  width:$minds-padding;
}
.minds-spacer-2x{
  height:$minds-padding*2;
  width:$minds-padding*2;
}


.minds-block {
  flex-direction:row;
  .minds-avatar{
    margin-right:$minds-margin;
  }
  .minds-body{
    flex:1;
  }
}

blockquote { quotes: ''; }
blockquote:before { content: '\201C'; }
blockquote:after { content: '\201D'; }

@import 'homepage.scss';
@import 'feeds.scss';
@import 'channels.scss';
@import 'capture.scss';
@import 'directives.scss';
@import 'buttons.scss';
@import 'cards.scss';
@import 'comments.scss';
@import 'settings.scss';

@import 'plugins.scss';
@import 'overrides.scss';
