@import 'defaults.scss';

minds-app{
  .initial-loading{
    width:100%;
  }
}

.minds-noshadow{
  box-shadow:0 0 0 !important;
}
minds-topbar {
  .mdl-layout__drawer-button{
    color: rgba(0, 0, 0, 0.54) !important;
  }

  .logo{
    img {
      height:46px;
     }
   }

  .minds-menu-button > i{
    padding:12px 0;
  }
}
@media screen and (max-width: 790px){
  minds-topbar {
    .logo img{
      height:30px;
    }
  }
}


minds-navigation{
  .minds-account{
    padding:$minds-padding*2;

    img{
      border-radius:50%;
    }

    .minds-account-dropdown{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    }
  }

  nav.minds-navigation{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .mdl-navigation__link{
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 700;

      .material-icons {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.56);
        margin-right: 24px;
      }
    }
  }

}

.minds-login-box{
  padding:$minds-padding * 2;
  margin:auto;
}

.mdl-tabs__tab.is-active{
  border-bottom:2px solid $minds-amber;
}

.mdl-textfield__label{
  .material-icons{
    line-height: 0;
    vertical-align: middle;
  }
}

.coming-soon{
  section {
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 55px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
  }
}

@import 'feeds.scss';
@import 'channels.scss';
@import 'directives.scss';

@import 'plugins.scss';
