@import 'defaults.scss';
/**
 * Override the basic layout
 */


.mdl-progress{
  width:100%;
}

a{
  color:#455a64;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img{
  text-indent: -9999px;
}
