@import 'defaults.scss';
/**
 * Override the basic layout
 */
/*.mdl-layout--fixed-drawer:not(.is-small-screen){

   > .mdl-layout__header{
     margin-left:80px;
     width:calc(100% - 80px);

     .mdl-layout__header-row{
       padding-left:28px;
       padding-right:$minds-padding * 2;
     }
   }
}*/


.mdl-layout--fixed-drawer:not(.is-small-screen){

  > .mdl-layout__header{
    margin-left:0;
    width:100%;
  }

  @media screen and (min-width: 1040px){
    .mdl-layout__header-row{
      padding-left:28px;
      padding-right:$minds-padding * 2;
    }
  }
}


.mdl-progress{
  width:100%;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
