<div  class="mdl-grid" style="width:100%;">

  <div class="mdl-grid" *ng-if="(!type)" style="width:100%;">

    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card__supporting-text">
        <a (click)="showBoost('fullNetwork')">
          <h1 class="mdl-card__subtitle-text" style="color:#4690D6; font-weight:500;">
            Full Network
          </h1>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card__supporting-text">
        <a (click)="showBoost('channel')">
          <h1 class="mdl-card__subtitle-text" style="color:#4690D6; font-weight:500;">
            Channel
          </h1>
        </a>
      </div>
    </div>

  </div>

  <minds-boost-full-network [object]="activity" *ng-if="(type == 'fullNetwork')"></minds-boost-full-network>
  <minds-boost-p2p [object]="activity" *ng-if="(type == 'channel')"></minds-boost-p2p>

</div>
