<div class="mdl-cell mdl-cell--12-col" [hidden]="!errorMessage">
  <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp minds-login-box minds-boost-error-message">
    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
      {{errorMessage}}
    </div>
  </div>

  <div class="mdl-color-text--blue-grey-50 minds-login-box minds-boost-wallet-message">
    <div class="mdl-card__supporting-text"[hidden]="!notEnoughPoints">
      Do you want to buy more points?
      <a class="mdl-button mdl-button--raised mdl-button--colored" [router-link]="['/wallet']">Buy more points!</a>
    </div>
  </div>
</div>
<!--CONTENT-->
<div class="mdl-cell mdl-cell--12-col minds-boost-block">
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="points" #points placeholder="Enter Points Here" [(ng-model)]= "data.points" (keyup)="calculateImpressions()"/>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="impressions" #impressions placeholder="Views" [(ng-model)] = "data.impressions" disabled/>
    </div>

    <p style="color:#888;
       font-size:11px;">
       Transactions are non-refundable.
       You will be notified when your post reaches the requested number of views.
       The amount of time this will take depends on site activity, so don't worry if you don't hear from us for a while; we will keep it in circulation until it reaches the goal!
    </p>
    <button class="mdl-button mdl-button--raised mdl-button--colored minds-boost-button" (click)="boost()" [disabled]="inProgress">Boost!</button>
  </div>
</div>
