<div class="mdl-grid minds-boost-container" [hidden]="type">

  <div class="mdl-cell mdl-cell--6-col">
      <a class="minds-boost-button-selector mdl-color-text--blue-grey-500" (click)="type = 'full'">
          <h3>Full Network</h3>
          <span>Your post will apear at the top of everyone's newsfeed until your views are met</span>
      </a>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
      <a class="minds-boost-button-selector mdl-color-text--blue-grey-500" (click)="type = 'channel'">
          <h3>Channel</h3>
          <span>Your post can be targeted to specific channels in exchange for points</span>
      </a>
  </div>

</div>

<minds-boost-full-network [object]="activity" *ng-if="type == 'full'" (done)="done()"></minds-boost-full-network>
<minds-boost-p2p [object]="activity" *ng-if="type == 'channel'" (done)="done()"></minds-boost-p2p>
