<div  class="mdl-grid mdl-shadow--4dp" style="background: #fff; border-radius: 2px; max-width:900px;">
  <!--CONTENT-->
  <div class="mdl-cell mdl-cell--12-col">
    <div>

      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Full Network Boost</h2>
      </div>

      <div class="mdl-card__supporting-text">
        Your post will appear at the top of everyone's newsfeed until your views are met.
      </div>

      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="number" id="points" #points/>
          <label class="mdl-textfield__label" for="points">Enter Points Here</label>
        </div>
      </div>

      <div class="mdl-card__supporting-text" *ng-if="!data.destination">
        <p style="color:#888;
        padding:0 16px;
        font-size:11px;">
        Transactions are non-refundable.
        You will be notified when your post reaches the requested number of views.
        The amount of time this will take depends on site activity, so don't worry if you don't hear from us for a while; we will keep it in circulation until it reaches the goal!
        </p>
      </div>

      <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="boost()">Boost!</button>
    </div>
  </div>
</div>
