
<div class="post">
    <input type="text" #message></input>
    <button (click)="post(message.value)"></button>
</div>

<div class="newsfeed list">

    <div *ng-if="newsfeed.length == 0 || isLoading">
        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div>
    </div>

    <div *ng-for="#activity of newsfeed" class="item">

        <div class="mdl-card mdl-shadow--2dp demo-card-wide">
          
          <div class="mdl-card__supporting-text" [hidden]="!activity.message">
            {{activity.message}}
          </div>
          
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Get Started
            </a>
          </div>
          
        
          
        </div>
        
    </div>

</div>