<div class="mdl-grid newsfeed-grid" style="max-width:900px">

    <div class="mdl-cell mdl-cell--8-col">

        <minds-newsfeed-poster (load)="prepend($event)"></minds-newsfeed-poster>

        <div class="minds-list">

            <minds-activity *ng-for="#activity of newsfeed" [object]="activity" (delete)="delete(activity)" class="mdl-card mdl-shadow--2dp item"></minds-activity>
            <infinite-scroll
                distance="25%"
                (load)="load()"
                *ng-if="moreData"
                />
                <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
            </infinite-scroll>

        </div>

    </div>


    <div class="mdl-cell mdl-cell--4-col">

      <minds-card-user [object]="session.getLoggedInUser()" class="mdl-card mdl-shadow--2dp" style="margin-bottom:16px;"></minds-card-user>

      <div class="mdl-card mdl-color--white mdl-shadow--2dp">

        <div class="mdl-card__supporting-text">
            Impressions
        </div>
    		<div class="mdl-card__supporting-text mdl-color-text--blue-grey-700">

          <minds-analytics-impressions [key]="session.getLoggedInUser().guid" [span]="5" [unit]="day"></minds-analytics-impressions>

    		</div>
    	</div>

      <div class="minds-spacer minds-spacer-2x"></div>

    </div>

</div>
