<div class="mdl-card mdl-shadow--4dp post" *ng-if="session.isLoggedIn()">

    <div class="minds-avatar">
      <a [router-link]="['/Channel', {username: session.getLoggedInUser().username}]">
        <img src="{{minds.cdn_url}}/icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/" class="mdl-shadow--2dp"/>
      </a>
    </div>

    <form #postobj="form" (submit)="post()">

        <textarea
          ng-control="message"
          class="mdl-textfield__input"
          type="text"
          id="message"
          #message
          [(ng-model)]="postMeta.message"
          (keyup)="getPostPreview(message)"
          placeholder="Enter your status here"
        ></textarea>

        <div class="mdl-card__actions">
          <!-- Attachements -->
          <div class="attachment-button" [ng-class]="{'mdl-color-text--amber-500': attachment_preview}">
            <i class="material-icons">attachment</i>
            <input type="file" type="file" id="file" name="attachment" (change)="uploadAttachment()"/>
          </div>

          <button
            type="submit"
            class="mdl-button"
            >
            Post
          </button>
        </div>

    </form>

    <!-- Rich embed preview -->
    <div class="post-preview" *ng-if="postMeta.active">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="postMeta.title"></div>
      <div class="minds-rich-embed" *ng-if="postMeta.title">

        <a>
          <img src="{{postMeta.thumbnail}}" />
        </a>
        <a class="meta mdl-color-text--blue-grey-900">
          <h2 class="mdl-card__title-text">{{postMeta.title}}</h2>
          <p>{{postMeta.description}}</p>
        </a>
      </div>
    </div>

    <!-- Attachment preview -->
    <div class="post-preview" *ng-if="attachment_preview" (click)="removeAttachment()">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="attachment_preview"></div>
      <video *ng-if="video" [src]="attachment_preview" width="580" height="420" controls></video>
      <img *ng-if="!video" [src]="attachment_preview" class="attachment-preview"/>
      <div class="attachment-preview-delete">
        <i class="material-icons">delete</i>
      </div>
    </div>

</div>
