* {padding:0;margin:0;}
.slider {
	width:940px;
	height:586px;
	margin:30px 0 38px 0;
}
.items {
	display:none;
}
.pagination {
	position:absolute;
	bottom:0px;
	left:283px;
	z-index:98;
}
.pagination ul {margin:0px 0px 0 0;}
.pagination li {float:left; margin:0 6px 0 0px; }
.pagination li a {height:70px; width:85px; display:block; padding:2px; }
.pagination li.current a {
	background:#fff !important; 
}
.pagination li:hover a {
	background:#fff; 
}
.banner {display:block; position:absolute; left:0px; top:103px; z-index:99; width:450px;}
.banner p {margin-left:80px;}
.banner strong { display:block; color:#fff; margin-top:-34px; }
.banner strong:first-child {margin-top:0 !important;}
.banner strong+strong+strong {margin-top:-23px !important;}
.banner strong+strong+strong+strong {margin-top:-34px !important;}
.font-1 { font-size:50px; line-height:60px; letter-spacing:-3px;}
.font-2 {font-size:40px; line-height:20px; letter-spacing:-1px; margin-left:80px;}
.font-33 {font-size:20px; line-height:25px; letter-spacing:-1px; margin-left:80px;}


.banner a:hover {background:#6a2917; border-top:#6a2917 1px solid;}