[submodule "vendors/cassandra-php"]
	path = vendors/cassandra-php
	url = https://github.com/kallaspriit/Cassandra-PHP-Client-Library.git
[submodule "vendors/phpcassa"]
	path = vendors/phpcassa
	url = https://github.com/thobbs/phpcassa.git
[submodule "mod/elgg-deck_river"]
	path = mod/elgg-deck_river
	url = https://"minds-travis:Avitas%4014"@github.com/Minds/deck.git
