
/docs

tsd_typings

bin/phpspec
bin/php*

/.htaccess
.htaccess
/2
#ignore composer
/vendor
/components
# ignore IDE/hidden/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
node_modules
# don't ignore travis config
!/.travis.yml
!.gitignore
!.gitattributes
!.editorconfig
