[submodule "engine"]
	path = engine
	url = https://github.com/minds/engine.git
[submodule "front"]
	path = front
	url = https://github.com/minds/front.git
[submodule "sockets"]
	path = sockets
	url = https://github.com/minds/sockets.git 
