# ignore Elgg configuration
/engine/settings.php
/engine/multi.settings.php
/.htaccess
.htaccess
/2
#ignore composer
/vendor
# ignore IDE/hidden/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# don't ignore travis config
!/.travis.yml
