# Main docker-compose
# Suited for containerized SSR server.
version: "2.2"

services:

  ## WEB SERVER / GATEWAY

  nginx:
    build:
      context: ./containers/nginx
      dockerfile: ./Dockerfile.dev-ssr
    mem_limit: 512MB
    depends_on:
      - php-fpm
    networks:
      - app
    ports:
      - "8080:80"
    environment:
      - UPSTREAM_ENDPOINT
    volumes:
      - ./front/:/var/www/Minds/front:cached

  ## APP ENGINE

  php-fpm:
    build:
      context: ./engine
      dockerfile: ./containers/php-fpm/Dockerfile.dev
    mem_limit: 512MB
    depends_on:
      - cassandra
      - elasticsearch
      - rabbitmq
      - redis
      - pulsar
      - vitess
    networks:
      - app
    volumes:
      - ./front/:/var/www/Minds/front:cached
      - ./engine/:/var/www/Minds/engine:cached
      - keys:/.dev

  runners:
    build:
      context: ./engine
      dockerfile: ./containers/php-runners/Dockerfile
    depends_on:
      - cassandra
      - elasticsearch
      - rabbitmq
      - redis
    networks:
      - app
    volumes:
      - ./front/:/var/www/Minds/front:cached
      - ./engine/:/var/www/Minds/engine:cached
      - keys:/.dev

  sockets:
    image: minds/sockets
    environment:
      - PORT=3030
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=<!!! set this to jwt-token in your engine/settings.php !!!>
      - CASSANDRA_SERVERS=cassandra
      - CASSANDRA_KEYSPACE=minds
    networks:
      - app
    depends_on:
      - redis
      - cassandra
    ports:
      - 8010:3030

  ## DATABASES

  cassandra:
    image: cassandra:3.11.1
    environment:
      - CASSANDRA_START_RPC=true
      - MAX_HEAP_SIZE=768M
      - HEAP_NEWSIZE=512M
    networks:
      - app
    mem_limit: 1024MB
    volumes:
      - cassandra-data:/var/lib/cassandra
    healthcheck:
      test: "cqlsh -e 'DESC TABLE system.batches'"
      retries: 10
      timeout: 5s
      interval: 15s

  elasticsearch:
    image: amazon/opendistro-for-elasticsearch:1.13.2
    mem_limit: 1G # keep an eye
    ulimits:
      nproc: 65536
      memlock:
        soft: 65536
        hard: 65536
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - "ES_JAVA_OPTS=-Xms726m -Xmx726m"
      - discovery.type=single-node
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - opendistro_security.disabled=true
      - cluster.routing.allocation.disk.watermark.low=95%
      - cluster.routing.allocation.disk.watermark.high=99%
      - cluster.routing.allocation.disk.watermark.flood_stage=99%
    networks:
      - app
    ports:
      - "9200:9200"
    volumes:
      - opendistro-data:/usr/share/elasticsearch/data

  ## CACHE

  redis:
    image: redis:4.0-alpine
    mem_limit: 100MB # keep an eye
    networks:
      - app

  ## QUEUE

  rabbitmq:
    image: rabbitmq:3.6-alpine
    networks:
      - app

  ## INSTALLATION ARTIFACTS

  installer:
    build:
      context: ./engine
      dockerfile: ./containers/installer/Dockerfile
    networks:
      - app
    volumes:
      - ./front/:/var/www/Minds/front:delegated
      - ./engine/:/var/www/Minds/engine:delegated
      - keys:/.dev
    depends_on:
      cassandra:
        condition: service_healthy

  elasticsearch-provisioner:
    build:
      context: ./containers/elasticsearch-provisioner
    networks:
      - app
    depends_on:
      - elasticsearch

  ## Pulsar

  pulsar:
    image: apachepulsar/pulsar:2.7.1
    entrypoint: bin/pulsar standalone -nss
    networks:
      - app
    ports:
      - 6650:6650
      - 8088:8080
    volumes:
      - pulsardata:/pulsar/data
      - pulsarconf:/pulsar/conf

  ## Vitess

  vitess:
    image: registry.gitlab.com/minds/infrastructure/vitess/local:latest
    # Local image wants to launch bash by default, so override with a continuous sleep
    command: /bin/bash -c "cd /vt/local && ./101_initial_cluster.sh && while true; do echo sleeping... && sleep 30s; done"
    networks:
      - app
    ports:
      - 15000:15000
      - 15001:15001
      - 15991:15991
      - 15999:15999
      - 15306:15306
    volumes:
      - vitess:/vt/vtdataroot

  ## METASCRAPER SERVER

  metascraper:
    image: registry.gitlab.com/minds/developers/metascraper-server
    mem_limit: 512MB
    networks:
      - app
    ports:
      - "3334:3334"

  ## UTILITIES

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.6.2
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_URL: http://minds_elasticsearch_1:9200
    networks:
      - app
    ports:
      - "5601:5601"

volumes:
  cassandra-data:
  elasticsearch-data:
  opendistro-data:
  keys:
  pulsardata:
  pulsarconf:
  vitess:

networks:
  app:
    driver: "bridge"
