<phpunit bootstrap="./engine/tests/phpunit/bootstrap.php">
    <testsuites>
		<testsuite name="Core Tests">
    			<directory>./engine/tests/phpunit/</directory>
		</testsuite>
		<testsuite name="Plugins">
      	  <directory suffix="Test.php">./mod/*/tests/</directory>
    	</testsuite>
	</testsuites>
</phpunit>
