<phpunit bootstrap="./tests/phpunit/bootstrap.php">
    <testsuites>
		<testsuite name="Core Tests">
    			<directory>./tests/phpunit/</directory>
		</testsuite>
		
		<testsuite name="Plugins">
			<directory suffix="Test.php">./mod/*/tests/</directory>
    	</testsuite>
		
	</testsuites>
</phpunit>
