<nav class="minds-navigation mdl-navigation">

  <div *ng-for="#item of navigation.getItems()">

  	<a class="mdl-navigation__link mdl-color-text--white"
  		[ng-class]="{'mdl-color--blue-grey-700' : item.active, 'mdl-color--blue-grey-800': !item.active}"
  		[router-link]="[item.path, item.params]"
  		>

  		<i class="mdl-color-text--amber-500 material-icons" [ng-class]="{'mdl-color-text--amber-500' : true}">{{item.icon}}</i>
  		{{item.text}}

  	</a>

    <div *ng-for="#subitem of item.submenus" [hidden]="!item.active">
      <a class="mdl-navigation__link mdl-color-text--white"
        [ng-class]="{'mdl-color--blue-grey-600' : subitem.active, 'mdl-color--blue-grey-700': !subitem.active}"
        [router-link]="[subitem.path, subitem.params]"
        >

        <i class="mdl-color-text--amber-500 material-icons" [ng-class]="{'mdl-color-text--amber-500' : true}">{{subitem.icon}}</i>
        {{subitem.text}}

      </a>
    </div>

  </div>
</nav>
