<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 owner-block" *ng-if="entity.ownerObj && entity.ownerObj.username">

	<div class="avatar">
		<a [router-link]="['/channel', {username: entity.ownerObj.username}]">
			<img src="/icon/{{entity.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
		</a>
	</div>

	<div class="body">
		<a [router-link]="['/channel', {username: entity.ownerObj.username}]">
			<strong>{{entity.ownerObj.name}}</strong>
		</a>
		<span></span>
	</div>

</div>

THIS IS A VIDEO
