<div class="mdl-card__title minds-video-thumbnail" style="height:200px; background:#333" [ng-style]="{background: '#333 url(' + entity.thumbnail_src + ') center center'}">
	<span class="material-icons">play_circle_outline</span>
</div>

<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 owner-block" *ng-if="entity.ownerObj && entity.ownerObj.username">

	<div class="avatar">
		<a [router-link]="['/channel', {username: entity.ownerObj.username}]">
			<img src="/icon/{{entity.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
		</a>
	</div>

	<div class="body">
		<a >
			<strong>{{ entity.title }}</strong>
		</a>
		<span>{{ entity.time_created * 1000 | date:'medium' }}</span>
	</div>

</div>
