<div class="mdl-grid channel-grid" style="max-width:900px" *ng-if="error">
  <h1>{{error}}</h1>
</div>

<header [hidden]="!isLocked"></header>

<header  *ng-if="user" [ng-class]="{'isLocked': isLocked}">
  <minds-carousel [banners]="user.carousels" [edit-mode]="editing" [(done)]="carousel"></minds-carousel>
</div>

  <div class="mdl-grid channel-grid channel-header-bar" style="max-width:900px">
    <div class="mdl-cell mdl-cell--4-col minds-channel-title">

      <div class="avatar">
        <img src="/icon/{{user.guid}}/large/{{user.icontime}}" class="mdl-shadow--4dp" />
      </div>

      <div class="body">
        <div class="flex-bottom  mdl-color-text--blue-grey-50">
          <h1>{{user.name}}</h1>
          <h3>@{{user.username}}</h3>
        </div>
      </div>

    </div>

    <div class="mdl-cell mdl-cell--8-col minds-tabs mdl-tabs__tab-bar">
        <a [router-link]="['/Channel-Filter', {username: user.username, filter: 'feed'}]" class="mdl-tabs__tab mdl-color-text--blue-grey-50">
          <span>Feed</span>
          <b>{{user.activity_count}}</b>
        </a>
        <a [router-link]="['/Channel-Filter', {username: user.username, filter: 'subscribers'}]" class="mdl-tabs__tab mdl-color-text--blue-grey-50">
          <span>Subscribers</span>
          <b>{{user.subscribers_count}}</b>
        </a>
        <a [router-link]="['/Channel-Filter', {username: user.username, filter: 'subscriptions'}]" class="mdl-tabs__tab  mdl-color-text--blue-grey-50">
          <span>Subscriptions</span>
          <b>{{user.subscriptions_count}}</b>
        </a>
        <a class="mdl-tabs__tab  mdl-color-text--blue-grey-50">
          <span>Views</span>
          <b>{{user.impressions}}</b>
        </a>
        <minds-button-subscribe [user]="user" class="mdl-tabs__tab" *ng-if="session.isLoggedIn() && session.getLoggedInUser().guid != user.guid"></minds-button-subscribe>
        <minds-button-edit (click)="toggleEditing()" class="mdl-tabs__t"  [hidden]="editing" *ng-if="session.getLoggedInUser().guid == user.guid">
          <button class="material-icons">edit</button>
        </minds-button-edit>
        <minds-button-edit (click)="toggleEditing()" class="mdl-tabs__t"  [hidden]="!editing" *ng-if="session.getLoggedInUser().guid == user.guid">
          <button>Save</button>
        </minds-button-edit>
    </div>
  </div>
</header>

<div class="mdl-grid channel-grid" style="max-width:900px" *ng-if="user">

  <section class="mdl-cell mdl-cell--4-col minds-channel-sidebar">
      <div class="mdl-card mdl-shadow--2dp minds-channel-bio">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Bio</h2>
        </div>

        <div class="mdl-card__supporting-text" id="bio" *ng-if="!isOwner()" style="white-space:pre-line">{{user.briefdescription}}</div>

        <!-- OWNER EDIT FORM -->
        <div class="mdl-card__supporting-text" *ng-if="isOwner()">
          <textarea
            (click)="editing = 'bio'"
            [auto-grow]
            class="mdl-textfield__input"
            type="text"
            id="message"
            [(ng-model)]="user.briefdescription"
          ></textarea>
        </div>

        <!-- OWNER EDIT BUTTONS -->
        <div class="mdl-card__menu" *ng-if="isOwner()" >
          <button class="mdl-button mdl-button--icon" >
            <i class="material-icons" (click)="updateField('briefdescription')" [hidden]="editing != 'bio'">save</i>
          </button>
        </div>
      </div>

      <div class="minds-spacer-2x"></div>

      <!-- Media  -->
      <div class="mdl-card mdl-shadow--2dp">

        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Media</h2>
        </div>

        <!-- Avatars of latest users -->
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 minds-channel-media-sidebard" style="min-height:0;">
          <a *ng-for="#object of media" [router-link]="['/Archive-View', {guid: object.guid}]" >
            <img [src]="object.thumbnail_src"/>
          </a>
        </div>
        <div class="mdl-spinner mdl-js-spinner is-active minds-channel-sidebar-loader" [mdl] [hidden]="!loadingMedia"></div>

        <a class="mdl-card__supporting-text mdl-color-text--grey-600" [router-link]="['/Discovery', {filter:'owner', type:'all'}]">
          View More
        </a>

      </div>

      <div class="minds-spacer-2x"></div>

      <!-- Blogs  -->
      <div class="mdl-card mdl-shadow--2dp">

        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Blogs</h2>
        </div>

        <!-- Blogs -->
        <div *ng-for="#blog of blogs" class="mdl-card__supporting-text minds-channel-blog-sidebar-blogs"  style="min-height:0;">
          <a class="mdl-color-text--grey-600" [router-link]="['/Blog-View', {guid: blog.guid}]" >
            {{blog.title}}
          </a>
        </div>
        <div class="mdl-spinner mdl-js-spinner is-active minds-channel-sidebar-loader" [mdl] [hidden]="!loadingBlogs"></div>

        <a class="mdl-card__supporting-text mdl-color-text--grey-600" [router-link]="['/Blog', {filter:'owner'}]">
          View More
        </a>

      </div>

      <div class="minds-spacer-2x"></div>
  </section>

  <!-- Feed list -->
  <section class="mdl-cell mdl-cell--8-col" *ng-if="_filter == 'feed'">

    <div class="minds-list">

        <minds-activity *ng-for="#activity of feed" [object]="activity" class="mdl-card mdl-shadow--4dp item" (delete)="delete(activity)"></minds-activity>
        <infinite-scroll
            distance="25%"
            (load)="loadFeed()"
            *ng-if="moreData"
            />
            <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
        </infinite-scroll>

    </div>

  </section>

  <!-- Subscriptions list -->
  <section class="mdl-cell mdl-cell--8-col" *ng-if="_filter == 'subscriptions'">

    <minds-channel-subscriptions [channel]="user" class="mdl-grid"></minds-channel-subscriptions>

  </section>

  <!-- Subscriptions list -->
  <section class="mdl-cell mdl-cell--8-col" *ng-if="_filter == 'subscribers'">

    <minds-channel-subscribers [channel]="user" class="mdl-grid"></minds-channel-subscribers>

  </section>

  <!-- Edit Channel -->
  <section class="mdl-cell mdl-cell--8-col" *ng-if="_filter == 'edit'">

    <minds-channel-edit [channel]="user" class="mdl-grid"></minds-channel-edit>

  </section>

</div>
