#dropzone {
	height: 120px;
	width: 90%;
	display: block;
	position: relative;
	margin: 0 5%;
	box-shadow: 0 0 2px #EEE;
	background: #EEE;
	padding: 16px 0;
	clear:both;
}

.default_values{
	width: 450px;
	margin: 10px auto;
	vertical-align: middle;
}

.elgg-button-upload{
	width:120px;
	height:20px;
	display:block;
	margin:auto;
	position:relative;
	padding:14px;
}
.elgg-button-upload input{
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100%;
}

.more-info{
	text-align:center;
	width:120px;
        height:20px;
        display:block;
        margin: 24px auto 0;
        position:relative;
}

#fileupload1{
    width: 152px;
    height: 35px;
    margin-left: 40px;
    border: none;
    opacity: 0;
    float: left;
    position: absolute;
    cursor: pointer;
}

#delete{
	position:absolute;
	border: none;
	  
  background: transparent;
    position: absolute;
    top: 5px;
    right: 20px;
}

.uploadSelect{
    -webkit-appearance: none;
}

#license{
}

.itemControls input{
	font-weight: bold;
	color: #333;
	font-size: 110%;
}
.itemControls input:focus{
	background:transparent;
	border:0;
}

#saveButton{
    clear: both;
    width: 40px;
    display: block;
}

.uploadlist > li.elgg-item > .itemControls {
    height: 60px;
    overflow: hidden;
    transition: height 0.3s;
    -webkit-transition: height 0.3s
}

.uploadlist > li.elgg-item {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:0;
    padding-bottom:12px;
    margin-left: 0px;
}

.uploadlist table{
	width:100%;
}
.uploadlist table tr > td{
	padding: 8px 0;
	vertical-align: middle;
}

.uploadlist table tr > td:first-child, .uploadlist table tr > td.label {
	font-weight:bold;
	padding-right:8px;
}

.uploadlist table tr > td input, .uploadlist table tr > td select, .default_values select{
	height: 30px;
	width: 95%;
	padding: 8px;
	color: #555;
	background: #EEE;
	color: #333;
	border:0;
	border-radius:0;
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	font-size:12px;
}
.uploadlist .add-new-album{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #60b044;
	background-image: -moz-linear-gradient(#8add6d, #60b044);
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	background-repeat: repeat-x;
	border-color: #5ca941;
	padding: 8px 16px;
	right: 0;
	position: absolute;
	margin: 5px 28px;
}
.uploadlist table tr > td input:focus{
	border:inherit;
	border-radius:inherit;
}

.uploadlist .preview{
	width: 100%;
	margin: 16px 0;
}

.uploadlist div.bar{
   position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #4690D6;
}
.uploadlist .progress > .bar.p100{
	background:#5ca941;
}

.uploadlist div.progress{
    color: transparent;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.uploadSpan{
    margin-left: 8px;
}

.upload-page-buttons {
    margin-top: 15px;
    float: right;
}

.upload-elgg-head {
    float: left;
}

.upload-page-buttons > .elgg-button {
    margin-left: 40px;
}

.uploadLeftArrow{
    position: absolute;
    left: 1;
	bottom: 135;
    font-size: 30px !important;
    cursor: pointer;
}

.uploadRightArrow{
    position: absolute;
    right: 1;
    bottom:135;
    font-size: 30px !important;
    cursor: pointer ;
}

form .ng-invalid{
    border: #FA787E 1px solid;
}

form .ng-valid{
    border: none;
}

.uploadbox-description{
    margin-top:5px;
}

.disabled{
    background-color: #c5c5c5;
    cursor: not-allowed;
}
