/* Plcaeholder change color - all */
::-webkit-input-placeholder { color:#000000; opacity: 1 !important;}
::-moz-placeholder { color:#000000; opacity: 1 !important;} /* firefox 19+ */
:-ms-input-placeholder { color:#000000; opacity: 1 !important;} /* ie */
input:-moz-placeholder { color:#000000; opacity: 1 !important;}

#dropzone {
    height: 50px;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    }

#fileupload{
    border: none;
    opacity: 0;
    float: left;
    width: 53px;
    position: absolute;
    height: 10px;
    cursor: pointer;
}
#delete{
    float: right;
    border: none;
    background: transparent;
    position: absolute;
    top: 5;
    right: 5;
}

.uploadSelect{
    border:none;
    -webkit-appearance: none;
}

#license{
    width: 150;
    height: 24;
    border: none;
    background: transparent;
    color: #000000;

}

#boxentry{
    position: relative;
    width: 330;
    height: 250;
    /*background: url('background.jpg');*/
    background-repeat: no-repeat;
    background-size: 100%;
}
#access_id{
    width: 90;
    height: 24;
    border: none;
    background: transparent;
    color: #000000;
}

input.uploadInput:hover {border: 1px solid black; background-color: #DDD !important;}
input.uploadInput:focus { border: 1px solid black; background-color: #fff !important;}
input.uploadInput{
    border: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    color: #000000;
}   /* Plcaeholder change color - tilte */

.uploadInput input::-webkit-input-placeholder {
    color: #000000;
    opacity: 1 !important;
}
.uploadInput input {
    color: #000000;
    opacity: 1 !important;
}
.uploadInput input:-ms-input-placeholder {
    color: #000000;
    opacity: 1 !important;
}

#saveButton{
    clear: both;
    width: 40px;
    display: block;
}

.uploadlist > li.elgg-item > .itemControls {
    height: 35px;
    overflow: hidden;
    transition: height 0.3s;
    -webkit-transition: height 0.3s
}

.uploadlist > li.elgg-item:hover > .itemControls {
    height: 100px;

}

.uploadlist  .elgg-image-block {

    background-color: rgba(255,255,255, 0.9);
}
.uploadlist > li.elgg-item {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin-left: 0px;

}

.uploadlist div.bar{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 5;
    background-color: #4690D6;
}

.uploadlist div.progress{
    color: transparent;
    height: 0;
}

.uploadSpan{
    margin-left: 5px;
}


.upload-page-buttons {
    margin-top: 15px;
    float: right;
}

.upload-elgg-head {
    float: left;
}

.upload-page-buttons > .elgg-button {
    margin-left: 40px;
}