<div class="drag-animation mdl-color--blue-grey-600 mdl-color-text--blue-grey-50" [hidden]="!dragging">
  <div class="drop">
    <i class="material-icons">file_upload</i>
    <p>Drop your files here</p>
  </div>

</div>

<div class="mdl-grid capture-grid" style="max-width:900px" >

    <div class="mdl-cell mdl-cell--4-col">

      <div class="mdl-card minds-albums-selector" #toggle>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            Album
          </h2>
          <button class="mdl-button mdl-button--fab mdl-button--colored minds-album-add" (click)="toggle.value = !toggle.value">
            <i class="material-icons">add</i>
          </button>
        </div>


        <div class="mdl-card minds-album minds-album-create mdl-color--blue-grey-500" *ng-if="toggle.value">

          <div class="mdl-card__title">
            <input
              type="text"
              #newalbum

              />
            <button class="mdl-button mdl-button--colored mdl-color-text--white" (click)="createAlbum(newalbum); toggle.value = false">Create</button>

          </div>

        </div>

        <div
          class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
          [hidden]="albums.length > 0 && !inProgress"
          [mdl]
          ></div>
        <div *ng-for="#album of albums"
          class="mdl-card minds-album mdl-color--blue-grey-50 mdl-color-text--blue-grey-500"
          [ng-class]="{'mdl-color--blue-grey-500': postMeta.album_guid == album.guid, 'mdl-color-text--blue-grey-50': postMeta.album_guid == album.guid}"
          (click)="selectAlbum(album)">

            <div class="mdl-card__title" [ng-class]="{'mdl-color-text--blue-grey-50': postMeta.album_guid == album.guid}">
              <h2>{{album.title}}</h2>
            </div>

        </div>
      </div>

    </div>

  <!-- Upload output -->
  <div class="mdl-cell mdl-cell--8-col">



    <form class="mdl-card">
      <div class="mdl-card__actions" style="display:flex;">
          <div class="upload-button">
            <button class="mdl-button mdl-button--raised">
              <i class="material-icons">attachment</i>
              <span>Add file</span>
            </button>

            <input
              type="file"
              id="file"
              #file
              (change)="add(file)"
              multiple
              />
          </div>

          <div class="mdl-layout-spacer"></div>

          <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="publish()" [disabled]="!uploads">
            <span>Save to album</span>
          </button>
      </div>
    </form>

    <div class="mdl-card mdl-shadow--2dp minds-upload" *ng-for="#upload of uploads; #i = index">
      <div class="mdl-card__title">
        <input
          type="text"
          [(ng-model)]="upload.name"
          (change)="modify(i)"
          />
      </div>

      <div class="mdl-progress mdl-js-progress"
        [mdl-upload]
        [progress]="upload.progress"
        [ng-class]="{'failed': upload.state == 'failed', 'complete': upload.state == 'complete'}"
        ></div>

    </div>

    <div class="m-splash">
      <i class="material-icons mdl-color-text--blue-grey-400">file_upload</i>
      <h3 class="mdl-color-text--blue-grey-300" >Drag to upload</h3>
    </div>
  </div>

</div>
