@import '../defaults.scss';

minds-comments{
  margin-top:50px;
  width:100%;

  .load-earlier-comments{
    margin-left: 16px;
    font-size: 12px;
    color: #888;
  }

  .minds-comment{
    min-height:0;
    padding:$minds-padding*2;
    background-color: transparent;
    border-bottom:1px solid #DDD;

    &.minds-comment-post{
      border-bottom: 0;
      padding-bottom: 0;
    }

    .minds-avatar{
      img{
        width:32px;
        border-radius:5px;
      }
    }

    .minds-body{
      margin-left:$minds-margin;
      a {
        text-decoration: none;
        font-size:12px;
      }
      p{
        margin:0;
      }
    }
  }

  form{
    .mdl-textfield__input{
      width:400px;
      border:0;
      float:left;
      resize:none;
    }
    .mdl-textfield__input:focus{
      border:0;
      outline:none;

    }
    .mdl-button{
      float:right;
    }
  }

}
