@import '../defaults.scss';

minds-comments{
  margin-top:50px;
  width:100%;

  .load-earlier-comments{
    margin-left: $minds-margin*2;
    font-size: 12px;
    font-weight:bold;
    color: #888;
  }

  .minds-comment{
    min-height:0;
    margin:0;
    padding:$minds-padding $minds-padding*2;
    background-color: transparent;
    overflow: visible;
    //border-bottom:1px solid #DDD;

    .minds-more{
      display:none;

      i {
        font-size: 18px;
      }
    }
    &:hover .minds-more{
      display:inline-block;
    }

    .mdl-card__menu{
      top:0;
    }

    &.minds-comment-post{
      border-bottom: 0;
      padding-bottom: $minds-padding;
    }

    .minds-avatar{
      img{
        width:36px;
      }
    }

    .minds-body{
      margin-left:$minds-margin;
      font-size: 12px;

      .username {
        text-decoration: none;
        font-weight:bold;
      }
      span{
        &:before{
          content:'·';
          font-weight:bold;
          padding: 0 $minds-padding;
        }
        font-size: 10px;
        vertical-align: middle;
      }
      p{
        margin:0;
        font-size:12px;
        line-height: 16px;
      }
    }
  }

  form{
    display:flex;
    textarea{
      border:1px solid #DDD;
      padding:$minds-padding;
      resize:none;
      background:transparent;
      font-family:inherit;
      font-size:12px;
      outline:none;
      flex:1;
    }

    .mdl-button{
    }
  }

}
