<div  (click)="sidebar.open()" class="minds-menu-button mdl-js-button mdl-layout__drawer-button">
    <i  (click)="sidebar.open()" class="material-icons">menu</i>
</div>

<!--<div class="minds-logo">
  <a [router-link]="['/']">
    <img src="/assets/logos/small.png"/>
  </a>
</div>-->

<div class="mdl-layout__header-row">

    <div class="minds-logo">
      <a [router-link]="['/newsfeed']">
        <img src="/assets/logos/small.png"/>
      </a>
    </div>

    <minds-search-bar></minds-search-bar>

    <div class="mdl-layout-spacer"></div>

    <div class="minds-account" *ng-if="loggedin">
      <a [router-link]="['/channel', {username: session.getLoggedInUser().username}]">
        <img src="/icon/{{session.getLoggedInUser().guid}}/small" />
      </a>
    </div>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="header-actions" [mdl]>
        <i class="material-icons">more_vert</i>
    </button>


    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="header-actions"
        [mdl]
        >
      <li class="mdl-menu__item" *ng-if="loggedin" [router-link]="['/logout']">Logout</li>
      <li class="mdl-menu__item">Settings</li>
    </ul>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" *ng-if="!loggedin" [router-link]="['/login']">
      Login
    </button>
</div>
