<div (click)="sidebar.open()" class="minds-menu-button mdl-js-button mdl-layout__drawer-button">
  <i class="material-icons">menu</i>
</div>

<div class="mdl-layout__header-row">

    <div class="minds-logo">
      <a [router-link]="['/Newsfeed']">
        <img src="/assets/logos/small.png"/>
      </a>
    </div>

    <minds-search-bar></minds-search-bar>

    <div class="mdl-layout-spacer"></div>

    <minds-topbar-navigation></minds-topbar-navigation>

    <div class="minds-account" *ng-if="session.isLoggedIn()">
      <a [router-link]="['/Channel', {username: session.getLoggedInUser().username}]">
        <img src="/icon/{{session.getLoggedInUser().guid}}/small/{{session.getLoggedInUser().icontime}}" />
      </a>
    </div>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="header-actions" [mdl]>
        <i class="material-icons">more_vert</i>
    </button>


    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="header-actions"
        [mdl]
        >
      <li class="mdl-menu__item" *ng-if="session.isLoggedIn()" [router-link]="['/Logout']">Logout</li>
      <li class="mdl-menu__item" *ng-if="session.isLoggedIn()" [router-link]="['/Settings', {'filter': 'general'}]">Settings</li>
    </ul>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" *ng-if="!session.isLoggedIn()" [router-link]="['/Login']">
      Login
    </button>
</div>
