<minds-banner [object]="group"></minds-banner>
<div class="mdl-grid groups-grid" style="max-width:900px" *ng-if="group">

  <div class="mdl-cell mdl-cell--12-col">
    <h1>{{group.name}}</h1>
  </div>

</div>

<div class="mdl-tabs__tab-bar groups-tabs" *ng-if="group">
  <a [router-link]="['/Groups-Profile', {guid: group.guid, filter: 'activity'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': filter == 'activity'}">Feed</a>
  <a [router-link]="['/Groups-Profile', {guid: group.guid, filter: 'members'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': filter == 'members'}">{{group['members:count']}} members</a>
  <a *ng-if="group.membership != 2" [router-link]="['/Groups-Profile', {guid: group.guid, filter: 'requests'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': filter == 'requests'}">{{group['requests:count']}} requests</a>
  <a [router-link]="['/Groups-Profile', {guid: group.guid, filter: 'settings'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': filter == 'settings'}">Settings</a>

  <minds-groups-join-button [group]="group"></minds-groups-join-button>

</div>

<div class="mdl-grid groups-grid newsfeed-grid" style="max-width:900px" *ng-if="group">

  <!-- Activity feed -->
  <minds-groups-profile-feed [group]="group" class="mdl-cell mdl-cell--8-col" *ng-if="filter == 'activity'">
  </minds-groups-profile-feed>
  <!-- END: Activity feed -->

  <!-- Members filter -->
  <minds-groups-profile-members [group]="group" class="mdl-cell mdl-cell--8-col mdl-grid" *ng-if="filter == 'members'">
  </minds-groups-profile-members>
  <!-- END: Members filter -->

  <!-- Requests Filter -->
  <minds-groups-profile-requests [group]="group" class="mdl-cell mdl-cell--8-col mdl-grid" *ng-if="filter == 'requests'">
  </minds-groups-profile-requests>
  <!-- END: Requests filter -->

  <!-- Settings Filter -->
  <minds-groups-profile-settings [group]="group" class="mdl-cell mdl-cell--8-col" *ng-if="filter == 'settings' && group.owner_guid == session.getLoggedInUser().guid">
  </minds-groups-profile-settings>
  <!-- END: Settings filter -->

  <!-- Sidebar -->
  <div class="mdl-cell mdl-cell--4-col">
    <!-- Members -->
    <div class="mdl-card mdl-shadow--4dp" style="width:auto">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Members</h2>
      </div>

      <!-- Avatars of latest users -->
      <div class="mdl-card__supporting-text mdl-color-text--grey-600 members-grid" style="min-height:0;">
        <a *ng-for="#member of group.members" [router-link]="['/Channel', {username: member.username}]" >
          <img src="/icon/{{member.guid}}/small"/>
        </a>
      </div>

    </div>

  </div>
</div>
