<div class="mdl-grid archive-grid" style="max-width:900px" *ng-if="error">
  <h1>{{error}}</h1>
</div>

<form (submit)="save()" class="mdl-grid archive-grid" style="max-width:660px">

  <div>
    <input
      type="file"
      id="file"
      #file
      (change)="addAttachment(file)"
    />

  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label minds-archive-title" [mdl]>
    <input
      class="mdl-textfield__input"
      type="text"
      id="name"
      [(ng-model)]="entity.title"
      />
    <label class="mdl-textfield__label" for="name">{{entity.title}}</label>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
   <button class="mdl-button mdl-button--raised mdl-button--colored">Save</button>
  </div>

</form>
