<minds-archive-theatre [object]="entity" *ng-if="entity.subtype != 'album'" [hidden]="!entity.subtype || entity.subtype == 'album'"></minds-archive-theatre>

<div class="mdl-grid archive-grid" style="max-width:660px" *ng-if="entity.guid">

  <div class="mdl-grid" style="width:100%">
    <div class="mdl-cell mdl-cell--12-col">
      <h1>{{entity.title}}</h1>
      <a class="album_backlink mdl-color-text--blue-grey-400"
        [router-link]="['/Archive-View', {guid: entity.container_guid}]"
        [hidden]="entity.subtype == 'album'"
        >Back to album</a>
    </div>

    <!-- Owner box -->
    <div class="mdl-cell mdl-cell--5-col minds-blog-ownerblock">

      <div class="minds-avatar">
        <a [router-link]="['/Channel', {username: entity.ownerObj.username}]">
          <img src="{{minds.cdn_url}}/icon/{{entity.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
        </a>
      </div>
      <div class="minds-body">
        <a [router-link]="['/Channel', {username: entity.ownerObj.username}]" class="mdl-color-text--blue-grey-500">{{entity.ownerObj.name}}</a>
        <span>{{ entity.time_created * 1000 | date: 'medium'}}</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col minds-actions-block">
      <minds-button-subscribe [user]="entity.ownerObj" *ng-if="entity.ownerObj.guid != session.getLoggedInUser().guid"></minds-button-subscribe>
      <minds-button-edit [router-link]="['/Archive-Edit', { guid: entity.guid }]" *ng-if="entity.ownerObj.guid == session.getLoggedInUser().guid">
        <button>Edit</button>
      </minds-button-edit>

      <minds-button-edit (click) ="delete()"  *ng-if="entity.ownerObj.guid == session.getLoggedInUser().guid">
        <button>X</button>
      </minds-button-edit>

      <minds-button-feature [object]="entity" *ng-if="session.isAdmin()"></minds-button-feature>

      <div class="mdl-layout-spacer"></div>
      <minds-button-remind [object]="entity"></minds-button-remind>
      <minds-button-thumbs-up [object]="entity"></minds-button-thumbs-up>
      <minds-button-thumbs-down [object]="entity"></minds-button-thumbs-down>
    </div>

  </div>

</div>

<minds-archive-grid [object]="entity" *ng-if="entity.subtype == 'album'"></minds-archive-grid>

<!-- Don't show comments for albums -->
<div class="mdl-grid archive-grid" style="max-width:660px" *ng-if="entity.guid && entity.subtype != 'album'">
  <minds-comments [object]="entity"></minds-comments>
</div>
