<phpunit colors="true">
    <filter>
        <blacklist>
           <directory suffix=".php">../contrib/</directory>
           <directory suffix=".php">../external/</directory>
           <directory suffix=".php">./</directory>
           <file>../cache/googleApcCache.php</file>
           <file>../cache/googleMemcacheCache.php</file>
        </blacklist>
    </filter>
</phpunit>
