<div class="mdl-card mdl-shadow--2dp minds-quote-card mdl-color--blue-grey-600" [hidden]="confirmation">
  <div class="minds-boost-points-wrapper">

    <div class="minds-boost-points-input">
      <div>
        <input
          [(ng-model)]="points"
          type="number"
          (keyup)="calculateUSD()"
          (change)="calculateUSD()"
          />
      </div>
      <div>
        <label>Points</label>
      </div>
    </div>

    <div class="minds-boost-points-input">
      <div>
        <input
          [(ng-model)]="usd"
          type="number"
          (keyup)="calculatePoints()"
          placeholder="..."
          disabled
          />
      </div>
      <div>
        <label>USD</label>
      </div>
    </div>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp minds-purchase-card" [hidden]="inProgress || confirmation">

  <div class="mdl-card__supporting-text minds-purchase-vendors">
    <span (click)="card.type = 'amex'" [ng-class]="{'mdl-color-text--blue-grey-600': card.type == 'amex'}">Amex</span>
    <span (click)="card.type = 'visa'" [ng-class]="{'mdl-color-text--blue-grey-600': card.type == 'visa'}">Visa</span>
    <span (click)="card.type = 'mastercard'" [ng-class]="{'mdl-color-text--blue-grey-600': card.type == 'mastercard'}">MasterCard</span>
  </div>
  <div class="mdl-card__supporting-text mdl-grid">

    <div class="mdl-cell mdl-cell--8-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl-textfield]>
        <input class="mdl-textfield__input"
          type="number"
          id="number"
          [(ng-model)]="card.number"
          />
        <label class="mdl-textfield__label" for="number">Card number</label>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <select name="credit-card-month" [(ng-model)]="card.month">
        <option>mm</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="credit-card-year" [(ng-model)]="card.year">
        <option>yyyy</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
      </select>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
        <input class="mdl-textfield__input"
          type="number"
          id="cvc"
          [(ng-model)]="card.sec"
          />
        <label class="mdl-textfield__label" for="cvc">CVC/Security Code</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
        <input class="mdl-textfield__input"
          type="text"
          id="firstname"
          [(ng-model)]="card.name"
          />
        <label class="mdl-textfield__label" for="firstname">First name</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
        <input class="mdl-textfield__input"
          type="text"
          id="lastname"
          [(ng-model)]="card.name2"
          />
        <label class="mdl-textfield__label" for="lastname">Last name</label>
      </div>
    </div>
  </div>

</div>

<div class="mdl-card mdl-shadow--2dp minds-purchase-card" [hidden]="!inProgress">
  <div class="mdl-card__supporting-text">
    Please wait...
  </div>
  <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
</div>

<div class="mdl-card mdl-shadow--2dp minds-purchase-card" [hidden]="!confirmation">
  <div class="mdl-card__supporting-text">
    <h2>Great, you now have {{wallet.points}} points!</h2>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp minds-purchase-card-confirm" [hidden]="confirmation">
  <div class="mdl-card__actions">
    <div class="minds-error mdl-color--red mdl-color-text--white" [hidden]="!error">
      {{error}}
    </div>
    <button class="mdl-button mdl-button--colored mdl-button--raised"
      [disabled]="!validate()"
      (click)="purchase()"
      >
      Buy points!
    </button>
  </div>
</div>
