<div class="mdl-grid wallet-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--4-col">

    <div class="mdl-card mdl-shadow--2dp minds-wallet-points">
      <div class="mdl-card__title mdl-card--expand minds-transaction-points">
        <h2>{{wallet.points}} points</h2>
      </div>
    </div>


    <ul class="mdl-card minds-card-navigation mdl-shadow--2dp" style="width:100%; margin-top:8px;">
      <li>
        <a class="mdl-color-text--blue-grey-500" [router-link]="['/Wallet-Filter', {filter: 'transactions'}]">Transactions</a>
      </li>
      <li>
        <a class="mdl-color-text--blue-grey-500" [router-link]="['/Wallet-Filter', {filter: 'purchase'}]">Purchase points</a>
      </li>
    </ul>

  </div>

  <div class="mdl-cell mdl-cell--8-col">

    <minds-wallet-transactions *ng-if="filter == 'transactions'"></minds-wallet-transactions>
    <minds-wallet-purchase *ng-if="filter == 'purchase'"></minds-wallet-purchase>

  </div>

</div>
