<section class="minds-homepage-banner minds-video-banner">
  <div class="video">
    <video autoplay="" muted="" loop="" poster="assets/videos/traffic-1/traffic-1.png">
      <source src="assets/videos/traffic-1/traffic-1.webm" type="video/webm">
      <source src="assets/videos/traffic-1/traffic-1.mp4" type="video/mp4">
    </video>
  </div>
  <div class="overlay">
    <h1>Expand your reach</h1>
    <h3>A social network that helps you go viral</h3>
  </div>
</section>

<div class="mdl-grid mdl-grid--no-spacing coming-soon">

    <section class="mdl-cell mdl-cell--12-col">
      Coming Soon.
    </section>

</div>
