<div class="mdl-grid" style="max-width:1080px">

    <div class="mdl-cell mdl-cell--12-col" [hidden]="!errorMessage">
          <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp minds-login-box" style="min-height:0;">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                {{errorMessage}}
              </div>
          </div>
    </div>

    <!-- START: Register -->
    <div class="mdl-cell mdl-cell--12-col" [hidden]="hideLogin">

        <div class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp minds-login-box">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>

              <input class="mdl-textfield__input"
                      type="text"
                      id="username"
                      #username
                  />
              <label class="mdl-textfield__label mdl-color-text--blue-grey-50"  for="username">Username</label>

            </div>
            <div></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>

              <input class="mdl-textfield__input"
                      type="text"
                      id="email"
                      #email
                  />
              <label class="mdl-textfield__label mdl-color-text--blue-grey-50"  for="email">Email</label>

            </div>
            <div></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                  <input class="mdl-textfield__input"
                          type="password"
                          id="password"
                          #password
                      />
                  <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password">Password</label>
            </div>
            <div></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                  <input class="mdl-textfield__input"
                          type="password"
                          id="password2"
                          #password
                      />
                  <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password2">Password (confirm) </label>
            </div>
            <div></div>

            <button class="mdl-button mdl-button--raised mdl-color--blue-grey-200" (click)="register(username, password, email);" [disabled]="inProgress">
                Signup
            </button>

        </div>

    </div>
    <!-- END: Register -->

</div>
