<div class="mdl-grid newsfeed-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--8-col">

      <div *ng-for="#notification of notifications" class="mdl-card mdl-shadow--2dp item">

        <div class="avatar">
          <a [router-link]="['/channel', {username: notification.ownerObj.username}]">
            <img src="/icon/{{notification.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
          </a>
        </div>
{{notification.notification_view}}
        <div *ng-switch="notification.notification_view">


          <!-- Standard boost notification for owner -->
          <template ng-switch-when="boost_submitted">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.params.impressions}} views for
               <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
               <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
               is awaiting approval.
              </p>
            </a>
          </template>

          <!-- P2P boost submitted -->
          <template ng-switch-when="boost_submitted_p2p">
              <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
                <p>{{notification.params.points}} points for
                  <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                  <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
                  is awaiting approval by <span class="minds-blue">@{{notification.params.channel}}</span>
                </p>
              </a>
          </template>

          <!-- P2P Boost Request -->
          <template ng-switch-when="boost_request">
              <a ng-click="loadBoostReview(notification.entityObj.guid)">
                  <p>{{notification.fromObj.name}} is offering you {{notification.params.points}} points to boost
                      <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                      <span class="minds-blue" ng-if="!notification.entityObj.title">their activity</span>
                 </p>
              </a>
          </template>

          <!-- Boost reject -->
          <template ng-switch-when="boost_rejected">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.params.impressions}} views for
                <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                 <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
                were rejected. Your points have been credited back to your wallet.
              </p>
            </a>
          </template>

          <!-- Boost accepted -->
          <template ng-switch-when="boost_accepted">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p ng-if="notification.params.impressions">{{notification.params.impressions}} views for
                <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
              <p ng-if="notification.params.points">{{notification.params.points}} points for
                <span class="minds-blue" ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
            </a>
          </template>

          <!-- Boost completed -->
          <template ng-switch-when="boost_completed">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.params.impressions}}/{{notification.params.impressions}} views for
                <span class="minds-blue"  ng-if="notification.entityObj.title" ng-bind-html="notification.entityObj.title"></span>
                <span class="minds-blue" ng-if="!notification.entityObj.title">your post</span>
                have been met.</p>
            </a>
          </template>

          <!-- Points prompt -->
          <template ng-switch-when="custom_message">
              <a>
                  <p ng-bind-html="notification.params.message"></p>
              </a>
          </template>

          <!-- Welcome points -->
          <template ng-switch-when="welcome_points">
              <a href="#/tab/newsfeed/wallet">
                  <p>Welcome to Minds. We have given you  <span class="minds-blue">100 points</span> to get you started.</p>
              </a>
          </template>

          <!-- tutorial/promts -->
          <template ng-switch-when="welcome_post">
              <a href="#/tab/capture">
                  <p><span class="minds-blue">Tap here</span> to create a post</p>
              </a>
          </template>

          <!-- Welcome messages -->
          <template ng-switch-when="welcome_boost">
              <a href="#/tab/newsfeed/channel/me">
                  <p>You can gain more reach by boosting your content. Hit the blue boost icon on your posts.</p>
              </a>
          </template>
          <template ng-switch-when="welcome_chat">
              <a href="#/tab/gatherings/conversations">
                  <p>Chat securely with your mutual subscriptions. <span class="minds-blue">Tap here.</span></p>
              </a>
          </template>
          <template ng-switch-when="welcome_discover">
              <a href="#/tab/discover">
                  <p><span class="minds-blue">Tap here.</span> to discover new channels and media.</p>
              </a>
          </template>

          <!-- Default -->
          <template ng-switch-default>
            <i>Sorry, there was an error viewing this notification</i>
          </template>
        </div>

        <span class="ts">{{ notification.time_created * 1000 | date : 'medium' }}</span>

      </div>

    <infinite-scroll
        distance="25%"
        (load)="load()"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

  </div>

</div>
