<div class="mdl-grid notifications-grid" style="max-width:600px">

  <div class="mdl-cell mdl-cell--12-col">

      <div *ng-for="#notification of notifications" class="mdl-card mdl-shadow--2dp item">

        <div class="avatar">
          <a [router-link]="['/channel', {username: notification.ownerObj.username}]">
            <img src="/icon/{{notification.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
          </a>
        </div>

        <div [ng-switch]="notification.notification_view" class="body">

          <!-- subscribed -->
          <template ng-switch-when="friends">
            <a href="#/tab/newsfeed/channel/{{notification.fromObj.guid}}">
              <p *ng-if="notification.fromObj.subscribed">You have a match! {{notification.fromObj.name}} subscribed to you</p>
              <p *ng-if="!notification.fromObj.subscribed">{{notification.fromObj.name}} subscribed to you</p>
            </a>
          </template>

          <!-- group inivite -->
          <template ng-switch-when="group_invite">
            <a>You've been invited to join {{notification.entityObj.name}}</a>
          </template>

          <!-- comment -->
          <template ng-switch-when="comment">
            <!-- need to have multiple link options... some are objects, some are newsfeed -->
            <div *ng-switch="notification.entityObj.type">
              <a ng-switch-when"object" href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
                <p>
                 {{notification.fromObj.name}} commented on
                     <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                     <span class="minds-blue" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
                </p>
              </a>
              <a ng-switch-when"activity" href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
                <p *ng-if="notification.entityObj.owner_guid == $root.user_guid && !notification.entityObj.title">
                  {{notification.fromObj.name}} commented on <span class="minds-blue">your activity</span>
                </p>
                <p *ng-if="notification.entityObj.owner_guid != $root.user_guid  && !notification.entityObj.title">
                {{notification.fromObj.name}} commented on <span class="minds-blue">{{notification.entityObj.ownerObj.name}}'s activity</span>
                </p>

                <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} commented on <span class="minds-blue"  >notification.entityObj.title"></span>
                </p>
              </a>
              <a *ng-switch-default>
                <p style="font-style:italic">
                There was an error viewing this notification.
                </p>
              </a>
            </div>
          </template>

          <!-- up voted content -->
          <template ng-switch-when="like">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'object'">
              <p>{{notification.fromObj.name}} voted up
                    <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                    <span class="minds-blue" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'activity'">
              <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} voted up <span class="minds-blue"  >notification.entityObj.title"></span>
              </p>
              <p *ng-if="!notification.entityObj.title">
                {{notification.fromObj.name}} voted up <span class="minds-blue">your activity</span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.parent_guid}}" *ng-if="notification.entityObj.type == 'comment'">
              <p>
                {{notification.fromObj.name}} voted up <span class="minds-blue"> your comment </span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="!notification.entityObj">
              <p style="font-style:italic">
                      This post was deleted.
              </p>
            </a>
          </template>

          <!-- down voted content -->
          <template ng-switch-when="downvote">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'object'">
              <p>{{notification.fromObj.name}} down voted
                    <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                    <span class="minds-blue" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'activity'">
              <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} down voted <span class="minds-blue"  >notification.entityObj.title"></span>
              </p>
              <p *ng-if="!notification.entityObj.title">
                {{notification.fromObj.name}} down voted <span class="minds-blue">your activity</span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.parent_guid}}" *ng-if="notification.entityObj.type == 'comment'">
              <p>
                {{notification.fromObj.name}} down voted <span class="minds-blue"> your comment </span>
              </p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="!notification.entityObj">
              <p style="font-style:italic">
                    This post was deleted.
              </p>
            </a>
          </template>

          <!-- Remind -->
          <template ng-switch-when="remind">
              <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'object'">
                  <p>{{notification.fromObj.name}} reminded
                      <span class="minds-blue"  *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                      <span class="minds-blue"  *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
                 </p>
              </a>
              <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type == 'activity'">
                  <p *ng-if="notification.entityObj.title">
                    {{notification.fromObj.name}} reminded <span class="minds-blue"  >notification.entityObj.title"></span>
                  </p>
                  <p *ng-if="!notification.entityObj.title">
                    {{notification.fromObj.name}} reminded <span class="minds-blue">your activity</span>
                  </p>
              </a>
          </template>

          <!-- featured -->
          <template ng-switch-when="feature">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p><span class="minds-blue" >notification.entityObj.title"></span> was featured</p>
            </a>
          </template>

          <!-- mention -->
          <template ng-switch-when="tag">
              <!-- tags from comments link differently -->
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}" *ng-if="notification.entityObj.type != 'comment'">
              <p>{{notification.fromObj.name}} tagged you in a post</p>
            </a>
            <a href="#/tab/notifications/entity/{{notification.entityObj.parent_guid}}" *ng-if="notification.entityObj.type == 'comment'">
                  <p>{{notification.fromObj.name}} tagged you in a comment</p>
              </a>
          </template>

          <!-- missed-call -->
          <template ng-switch-when="missed_call">
            <a >
              <p><span class="minds-blue" >notification.fromObj.name"></span> tried to call you.</p>
            </a>
          </template>

          <!-- boost_gift -->
          <template ng-switch-when="boost_gift">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.fromObj.name}} gifted you {{notification.params.impressions}} views for
                <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                <span class="minds-blue" *ng-if="!notification.entityObj.title"> your post</span>
              </p>
            </a>
          </template>

          <!-- Standard boost notification for owner -->
          <template ng-switch-when="boost_submitted">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
             <p>{{notification.params.impressions}} views for
              <span class="minds-blue" *ng-if="notification.entityObj.title">notification.entityObj.title</span>
              <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
              is awaiting approval.
             </p>
           </a>
          </template>

          <!-- P2P boost submitted -->
          <template ng-switch-when="boost_submitted_p2p">
              <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
                <p>{{notification.params.points}} points for
                  <span class="minds-blue" *ng-if="notification.entityObj.title">notification.entityObj.title"></span>
                  <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
                  is awaiting approval by <span class="minds-blue">@{{notification.params.channel}}</span>
                </p>
              </a>
          </template>

          <!-- P2P Boost Request -->
          <template ng-switch-when="boost_request">
              <a ng-click="loadBoostReview(notification.entityObj.guid)">
                  <p>{{notification.fromObj.name}} is offering you {{notification.params.points}} points to boost
                      <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                      <span class="minds-blue" *ng-if="!notification.entityObj.title">their activity</span>
                 </p>
              </a>
          </template>

          <!-- Boost reject -->
          <template ng-switch-when="boost_rejected">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.params.impressions}} views for
                <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                 <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
                were rejected. Your points have been credited back to your wallet.
              </p>
            </a>
          </template>

          <!-- Boost accepted -->
          <template ng-switch-when="boost_accepted">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p *ng-if="notification.params.impressions">{{notification.params.impressions}} views for
                <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
              <p *ng-if="notification.params.points">{{notification.params.points}} points for
                <span class="minds-blue" *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
            </a>
          </template>

          <!-- Boost completed -->
          <template ng-switch-when="boost_completed">
            <a href="#/tab/notifications/entity/{{notification.entityObj.guid}}">
              <p>{{notification.params.impressions}}/{{notification.params.impressions}} views for
                <span class="minds-blue"  *ng-if="notification.entityObj.title" >notification.entityObj.title"></span>
                <span class="minds-blue" *ng-if="!notification.entityObj.title">your post</span>
                have been met.</p>
            </a>
          </template>

          <!-- Points prompt -->
          <template ng-switch-when="custom_message">
              <a>
                  <p >notification.params.message"></p>
              </a>
          </template>

          <!-- Welcome points -->
          <template ng-switch-when="welcome_points">
              <a href="#/tab/newsfeed/wallet">
                  <p>Welcome to Minds. We have given you  <span class="minds-blue">100 points</span> to get you started.</p>
              </a>
          </template>

          <!-- tutorial/promts -->
          <template ng-switch-when="welcome_post">
              <a href="#/tab/capture">
                  <p><span class="minds-blue">Tap here</span> to create a post</p>
              </a>
          </template>

          <!-- Welcome messages -->
          <template ng-switch-when="welcome_boost">
              <a href="#/tab/newsfeed/channel/me">
                  <p>You can gain more reach by boosting your content. Hit the blue boost icon on your posts.</p>
              </a>
          </template>
          <template ng-switch-when="welcome_chat">
              <a href="#/tab/gatherings/conversations">
                  <p>Chat securely with your mutual subscriptions. <span class="minds-blue">Tap here.</span></p>
              </a>
          </template>
          <template ng-switch-when="welcome_discover">
              <a href="#/tab/discover">
                  <p><span class="minds-blue">Tap here.</span> to discover new channels and media.</p>
              </a>
          </template>

          <!-- Default -->
          <template ng-switch-default>
            <i>Sorry, there was an error viewing this notification</i>
          </template>

          <span class="ts mdl-color-text--grey">{{ notification.time_created * 1000 | date : 'medium' }}</span>

        </div>

      </div>

    <infinite-scroll
        distance="25%"
        (load)="load()"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

  </div>

</div>
