<form novalidate name="itemsForm" class="uploadList">
	
	<!-- Show initially -->
	<div id="dropzone" class="span8 well well-large" ng-hide="uploading">
			<span class="entypo">&#128228;</span>
			
			
			<div class="form-span">
				
				<h3> Drag files here </h3>
				
				<p class="or">-- or --</p>
				
				<div class="elgg-button elgg-button-action elgg-button-upload"> <span>Click to open selector.</span>
					<input id="fileupload" type="file" name="fileData"  multiple=""/>
				</div>
				<!--<div class="default_values">
					<div class="default-license">
						<label>License:</label>
						<select class="elgg-input-dropdown default-license-input" ng-options="license.value as license.text for license in licenses" ng-model="default_license">
						</select>
					</div>
				</div>-->
			</div>
	</div>
	
	<!-- Show when uploads are in progress -->
	<div class="uploader-nav" ng-show="uploading">
		<div class="inner">
			<div>Album selector</div>
			<div class="elgg-button elgg-button-action elgg-button-upload"> <span>Click to open selector.</span>
				<input id="fileupload" type="file" name="fileData"  multiple=""/>
			</div>
		</div>
	</div>
		
	<ul class="elgg-list elgg-list-entity mason">

		<li class="elgg-item" ng-repeat="file in files">

			<table>
					<tr>
						<td>Title:</td>
						<td>
							<input required type="text" name='name' class="elgg-input-text" ng-model="file.name" placeholder="Enter title…" ng-change="changed(file.guid)"/>
						</td>
					</tr>
					<tr>
						<td>License:</td>
						<td>
							<select required name="license" id="license" class="elgg-input-dropdown uploadSelect" ng-options="license.value as license.text for license in licenses" ng-model="file.license" ng-change="changed(file.guid)">
							</select>
						</td>
					</tr>

			</table>
			<div ng-switch="file.fileType">
				<img ng-switch-when="image" class="preview" ng-src="{{file.thumb}}"/>
				<div ng-switch-when="video" ng-show="fileItem.guid">
					<p> Your video has been uploaded and is now being transcoded </p>
				</div>

			</div>
			
			<div class="progress">
					<div class="bar p{{file.progress}}" ng-style="{width: file.progress + '%'}"></div>
			</div>
			
		</li>

	</ul>
	<br/>
	<a id="saveButton" ng-class="{disabled: itemsForm.$invalid}" ng-show="itemsForm.$dirty" class="elgg-button elgg-button-action" ng-click="saveAll()">Save all</a>
	
	<div style="display:none;" id="album-create-wrapper">
		<input type="text" placeholder="Album title"  ng-model="albumName"/>
		<a class="elgg-button elgg-button-action" ng-click="createAlbum($index)">Create</a>
	</div>
</form>
