<div class="mdl-tabs__tab-bar">
    <a [router-link]="['/Search', {q: q, type: 'videos'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'videos' || type == ''}">Videos</a>
    <a [router-link]="['/Search', {q: q, type: 'images'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'images' || type == ''}">Images</a>
    <a [router-link]="['/Search', {q: q, type: 'channels'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'channels' || type == ''}">Channels</a>
    <a [router-link]="['/Search', {q: q, type: 'blogs'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'blogs' || type == ''}">Blogs</a>
</div>

<div class="mdl-grid search-grid" style="max-width:900px">

    <div class="mdl-cell mdl-cell--3-col">
      This will shows boosts, if its not mobile
    </div>


    <div class="search-results mdl-cell mdl-cell--6-col">
      <div class="mdl-card mdl-shadow--2dp" *ng-for="#entity of entities">

        <minds-card-video [object]="entity" *ng-if="entity.subtype == 'video'"></minds-card-video>
        <minds-card-image [object]="entity" *ng-if="entity.subtype == 'image'"></minds-card-image>
        <minds-card-blog [object]="entity" *ng-if="entity.subtype == 'blog'"></minds-card-blog>
        <minds-activity [object]="activity" *ng-if="entity.type == 'activity'"></minds-activity>

        <!-- START: User Only -->
        <minds-card-user [object]="entity" *ng-if="entity.type == 'user'"></minds-card-user>
        <!-- END: User Only -->
      </div>
    </div>

    <infinite-scroll
        distance="25%"
        (load)="search(false)"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

</div>
