<div class="mdl-tabs__tab-bar">
    <a [router-link]="['/search', {type: 'videos'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'videos' || type == ''}">Videos</a>
    <a [router-link]="['/search', {type: 'images'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'images' || type == ''}">Images</a>
    <a [router-link]="['/search', {type: 'channels'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'channels' || type == ''}">Channels</a>
</div>

<div class="mdl-grid search-grid" style="max-width:900px">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp" *ng-for="#entity of entities">

      <minds-card-video [object]="entity" *ng-if="entity.subtype == 'video'"></minds-card-video>
      <minds-card-image [object]="entity" *ng-if="entity.subtype == 'image'"></minds-card-image>
      <minds-card-blog [object]="entity" *ng-if="entity.subtype == 'blog'"></minds-card-blog>

      <!-- START: User Only -->
      <minds-card-user [object]="entity" *ng-if="entity.type == 'user'"></minds-card-user>
      <!-- END: User Only -->
    </div>

    <infinite-scroll
        distance="25%"
        (load)="search(false)"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

</div>
