
<div class="load-earlier-comments" (click)="load()" *ng-if="moreData">
  Load earlier
</div>

<div class="mdl-cell mdl-cell--12-col mdl-card minds-comment minds-block" *ng-for="#comment of comments">
  <div class="minds-avatar">
    <a [router-link]="['/Channel', {username: comment.ownerObj.username}]">
      <img src="{{minds.cdn_url}}/icon/{{comment.ownerObj.guid}}/small" />
    </a>
  </div>
  <div class="minds-body" >
    <a [router-link]="['/Channel', {username: comment.ownerObj.username}]" class="username mdl-color-text--blue-grey-500">{{comment.ownerObj.name}} @{{comment.ownerObj.username}}</a>
    <p [tags]>{{comment.description}}</p>
  </div>
</div>

<div class="mdl-cell mdl-cell--12-col mdl-card minds-comment minds-comment-post minds-block" *ng-if="session.isLoggedIn()">

    <div class="minds-avatar">
      <a [router-link]="['/Channel', {username: session.getLoggedInUser().username }]">
        <img src="{{minds.cdn_url}}/icon/{{session.getLoggedInUser().guid}}/small" />
      </a>
    </div>

    <div class="minds-body">

        <form #postobj="form" (submit)="post()">

            <textarea
              ng-control="message"
              class="mdl-textfield__input"
              type="text"
              id="message"
              #message
              [(ng-model)]="postMeta.comment"
              placeholder="Enter your comment"
              (keydown.enter)="post()"
            ></textarea>

            <button
              type="submit"
              class="mdl-button mdl-button--raised mdl-button--colored"
              >
              Post
            </button>

        </form>

    </div>
</div>
