
<div class="load-earlier-comments" (click)="load()" *ng-if="moreData">
  Load earlier
</div>

<minds-card-comment *ng-for="#comment of comments; #i = index" [object]="comment" (delete)="delete(i)" ></minds-card-comment>

<div class="mdl-card minds-comment minds-comment-post minds-block" *ng-if="session.isLoggedIn()">

    <div class="minds-avatar">
      <a [router-link]="['/Channel', {username: session.getLoggedInUser().username }]">
        <img src="{{minds.cdn_url}}/icon/{{session.getLoggedInUser().guid}}/small" class="mdl-shadow--2dp"/>
      </a>
    </div>

    <div class="minds-body">

        <form #postobj="form" (submit)="post()">

            <textarea
              ng-control="message"
              type="text"
              id="message"
              #message
              [(ng-model)]="postMeta.comment"
              placeholder="Enter your comment"
              (keydown.enter)="post()"
              [auto-grow]
            ></textarea>

        </form>

    </div>
</div>
