.minds-blog-ownerblock{
  display:table;

  .minds-avatar img{
    width:50px;
    border-radius:50%;
  }
  .minds-body{
    padding-left:16px;
    display:table-cell;
    vertical-align: middle;
    a {
      display:block;
      text-decoration: none;
    }
    span{
      font-size:11px;
    }
  }
}

minds-blog-view{
  h1{
    margin:0;
  }
  a {
    color:#607d8b;
  }
}
.minds-blog-body{
  padding-top:$minds-padding * 2;
}

.minds-blog-save{
  padding : 8px;
}

.minds-blog-actions{
  @include flex-display();
  @include flex-direction(row);
  align-items: center;
  -webkit-align-items: center;
}

// remove this from here soon
.minds-blog-subscribe{
  background: transparent;
  border: 1px solid #78909c;
  color: #78909c;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
}

minds-blog-edit{

}
