<div class="mdl-card__supporting-text">

  <!-- Not enough point warning -->
  <div class="mdl-card__supporting-text minds-boost-error-message mdl-color--red mdl-color-text--white" [hidden]="!error">
    {{error}}
    <span *ng-if="rate && (rate.balance < data.points)">Why not <a class="mdl-color-text--blue-grey-50" [router-link]="['/wallet']">click here to buy some?</a></span>
  </div>

  <div class="mdl-grid minds-boost-points-wrapper">
    <div class="mdl-cell mdl-cell--6-col minds-boost-points-input">
        <div class="cell">
          <input
            type="number"
            #points
            placeholder="Enter here"
            [(ng-model)]= "data.points"
            (change)="calculateImpressions()"
            (keyup)="calculateImpressions()"
            />
          </div>
          <div class="cell">
    				<label>Points</label>
    			</div>
      </div>
      <div class="mdl-cell mdl-cell--6-col minds-boost-points-input">
        <div class="cell">
          <input
            type="number"
            #impressions
            placeholder="Views"
            [(ng-model)] = "data.impressions"
            (change)="calculatePoints()"
            (keyup)="calculatePoints()"
          />
        </div>
        <div class="cell">
          <label>Views</label>
        </div>
      </div>
  </div>

  <p style="color:#888; font-size:11px;">
     Transactions are non-refundable.
     You will be notified when your post reaches the requested number of views.
     The amount of time this will take depends on site activity, so don't worry if you don't hear from us for a while; we will keep it in circulation until it reaches the goal!
  </p>

  <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="close()" [disabled]="inProgress">Cancel</button>
  <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--green minds-boost-button--bottom" (click)="boost()" [disabled]="inProgress">Boost!</button>
</div>
