
minds-messenger-conversation{
  .mdl-card{
    width:100%;
    min-height:0;
    margin-bottom:$minds-margin*2;
  }

  .minds-messagenger-messenger{
    max-height:500px;
    max-height:60vh;
    display:block;
    overflow-y: scroll;
  }

  .minds-messenger-message{
    padding:$minds-padding;
    margin-bottom:$minds-margin;

    .minds-body{
      @include flex-display();
      @include flex-direction(row);
      align-items: center;
      -webkit-align-items: center;

      > p {
        @include flex-display();
        @include flex(3);
      }
      > span {
        @include flex-display();
        @include flex(1);
        font-size:10px;
      }
    }
  }

  .minds-gatherings-send{
    padding: $minds-padding;

    input{
      width: 80%;
      padding: 12px;
      border: 0;
    }
    .mdl-button{
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
}


minds-gatherings{
  .minds-gatherings-search{
    width:100%;
  }
  .minds-gatherings-conversation-container{
    width:100%;
  }
  .minds-gatherings-ownerblock {
    display: table;
  }
  .minds-gatherings-ownerblock .minds-avatar img {
    width: 50px;
    border-radius: 50%;
  }

  .minds-gatherings-view {
    h1 {
      margin: 0;
    }

    .minds-gatherings-header {
      max-height: 300px;
      overflow: hidden;
    }

    .minds-gatherings-header {
      img {
        width: 100%;
      }
    }
  }

  .minds-gatherings-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
  }

  .minds-gatherings-subscribe {
    background: transparent;
    border: 1px solid #78909c;
    color: #78909c;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
  }

  .minds-gatherings-conversation-list{
      height: 400px;
      overflow-y: scroll;

      .mdl-card{
        min-height:0;
        width:auto;
        padding:$minds-padding;

        a{
          text-decoration: none;
          display: block;
          margin: 0;
          float: left;

          &.not-subscribed{
            width: 50%;
          }

          h3{
            margin: 0;
            font-size: 16px;
            line-height: 18px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          span{
            font-size:9px;
          }
        }
        minds-button-subscribe{
          float:right;
        }
      }
  }

  .minds-gatherings-message-list{
    height: 360px;
    overflow-y: scroll;
  }

  .minds-gatherings-message-time{
    float:right;
  }

  .minds-messenger-setup-actions{
    button{
      float:right;
    }
  }

}
