{
    "swagger": "2.0",
    "info": {
        "title": "Minds Public API",
        "version": "1.0"
    },
    "host": "www.minds.com",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "paths": {
        "/v1/analytics": {
            "put": {
                "tags": [
                    "analytics"
                ],
                "summary": "Send an analytic metric",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {},
                "security": [
                    {
                        "minds_oauth2": []
                    }
                ]
            }
        },
        "/v1/boost/{guid}": {
            "get": {
                "tags": [
                    "boost"
                ],
                "summary": "Returns information regarding a boost, or the current boost rates",
                "parameters": [
                    {
                        "name": "guid",
                        "in": "path",
                        "description": "the guid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/boost/rate": {
            "get": {
                "tags": [
                    "boost"
                ],
                "summary": "Returns  the current boost rates",
                "responses": {},
                "security": [
                    {
                        "minds_oauth2": []
                    }
                ]
            }
        },
        "/v1/entities/entity/{guid}": {
            "get": {
                "tags": [
                    "entities"
                ],
                "summary": "Returns a single entity",
                "parameters": [
                    {
                        "name": "guid",
                        "in": "path",
                        "description": "Guid",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/entities/featured/{type}/{subtype}": {
            "get": {
                "tags": [
                    "entities"
                ],
                "summary": "Returns featured entities",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Type (eg. object, user, activity)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "subtype",
                        "in": "path",
                        "description": "Subtype (eg. video, image, blog)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of returned entities",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Pagination. Include the entity guid to start the list from",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/entities/suggested/{type}/{subtype}": {
            "get": {
                "tags": [
                    "entities"
                ],
                "summary": "Returns suggested entities",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Type (eg. object, user, activity)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "subtype",
                        "in": "path",
                        "description": "Subtype (eg. video, image, blog)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of returned entities",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many entities to skip",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/entities/suggested/{action}/{guid}": {
            "post": {
                "tags": [
                    "entities"
                ],
                "summary": "Add a relationship to an entity",
                "parameters": [
                    {
                        "name": "action",
                        "in": "path",
                        "description": "Action (eg. pass)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "path",
                        "description": "The entity to create the relationship on",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/entities/trending/{type}/{subtype}": {
            "get": {
                "tags": [
                    "entities"
                ],
                "summary": "Returns trending entities",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Type (eg. object, user, activity)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "subtype",
                        "in": "path",
                        "description": "Subtype (eg. video, image, blog)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of returned entities",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Pagination. Include the entity guid to start the list from",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/entities": {
            "get": {
                "tags": [
                    "entities"
                ],
                "summary": "Returns basic entities",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type (eg. object, user, activity)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "subtype",
                        "in": "query",
                        "description": "Subtype (eg. video, image, blog)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_guid",
                        "in": "query",
                        "description": "The owner of the content to return",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of returned entities",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Pagination. Include the entity guid to start the list from",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {}
            }
        },
        "/v1/logout": {
            "post": {
                "summary": "Logout",
                "responses": {}
            }
        },
        "/v1/register": {
            "post": {
                "summary": "Create a new channel",
                "responses": {}
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "minds_oauth2": {
            "type": "oauth2",
            "flow": "implicit",
            "authorizationUrl": "https://www.minds.com/oauth2/authorize",
            "scopes": []
        }
    },
    "externalDocs": {
        "description": "Find out more about Minds",
        "url": "http://www.minds.org"
    }
}