/*
 * Project Name:            Sociable Theme
 * Project Description:     Theme for Elgg 1.8
 * Author:                  Shane Barron - SocialApparatus
 * License:                 GNU General Public License (GPL) version 2
 * Website:                 http://socia.us
 * Contact:                 sales@socia.us
 * 
 * File Version:            1.0
 * Last Updated:            5/11/2013
 */

html {
    height:100%;
}
body {
    font-family: 'Ubuntu Mono', sans-serif;
    height:100%;
    background:url(../graphics/clouds.png),url(../graphics/body.jpg);
    background-repeat:repeat-x,repeat;
    background-attachment:fixed,scroll;
}
.elgg-page-header {
    background:none;
}
.elgg-heading-site, .elgg-heading-site:hover {
    text-shadow:none;
    cursor:pointer;
    color:#3E3E3E;
    font-size:50px;
    text-transform:lowercase;
    font-family: 'Righteous', cursive;
    font-style:normal;
    line-height: inherit;
    margin-top:30px;
    text-shadow:1px 1px 1px #ffffff;
}
.logo-first {
    float:left;
    font-size:100px;
    text-transform:uppercase;
    margin-top:14px;
    font-family: 'Bubblegum Sans', cursive;
    color:#DC1010;
}
.logo-last {
    float:left;
}
.elgg-heading-site-description {
    font-size:16px;
    float:left;
    margin-top:20px;
    margin-left:0px;
    text-transform:uppercase;
}
.elgg-page-default .elgg-page-header > .elgg-inner {
    width: 990px;
    margin: 0px auto;
    height: 170px;
    position:relative;
}

.elgg-layout-one-sidebar {
    background:none;
}
.elgg-menu-site {
    position:absolute;
    bottom:-10px;
    width:990px;
}
.elgg-search-header {
    z-index:1000;
    bottom:3px;
    right:5px;
}
.elgg-module-aside input[type='text'] {
    width:195px;
}

.elgg-module-aside .elgg-head {
    border:none;
    padding-bottom: 5px;
}
.elgg-button {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.elgg-button-dropdown {
    display:none;
}

.elgg-module-widget > .elgg-head h3 {
    float: left;
    padding: 0px 45px 0px 20px;
    color: rgb(102, 102, 102);
    font-size:18px;
    line-height:8px;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #333333;
    background-color: #E4E4E4;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: rgb(85, 85, 85);
    cursor: default;
    background:rgb(221, 221, 221);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
select {
    width:auto;
}
.elgg-button-submit {
    float:right;
}
.loader {
    background:url(../graphics/ajax-loader.gif);
    width:143px;
    height:93px;
    box-shadow:0px 0px 8px #cccccc;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-100px;
    z-index:100000;
    font-size:18px;
    line-height:50px;
    text-align:center;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}
.elgg-page {
    display:none;
}
.btn-success {
    background:#62C222;
}
.btn-danger {
    background:#DC1010;
}
.navbar .nav > li > a:hover {
    color: rgb(85, 85, 85);
    text-decoration: none;
    background-color: rgb(229, 229, 229);
}
.dropdown-menu > li > a:hover, .dropdown-submenu:hover > a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    background: rgb(229, 229, 229);
}
.elgg-module-widget, .elgg-module-widget:hover {
    background:#EEEEEE;
    padding: 2px;
    margin: 0px 5px 15px;
    position: relative;
    box-shadow:0px 0px 8px #cccccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.profile .elgg-inner {
    margin: 0px 5px;
    border: none;
    border-radius: 8px 8px 8px 8px;
}
#profile-owner-block {
    width: 200px;
    float: left;
    background:none;
    padding: 15px;
}
#profile-details .odd, #profile-details .even {
    background:none;
    border-radius: 4px 4px 4px 4px;
    margin: 0px 0px 7px;
    padding: 2px 4px;
}
.profile-aboutme-title {
    background:none;
    border-radius: 4px 4px 4px 4px;
    margin: 0px;
    padding: 2px 4px;
}
.elgg-widgets-add-panel {
    padding: 10px;
    margin: 0px 5px 15px;
    background: none;
    border: none;
}
textarea {
    width:auto;
}