p{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#333333;
}

a{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#b82000;
}

a:hover{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#ff4000;
}
