<div class="mdl-grid notifications-grid" style="max-width:600px">

  <div class="mdl-cell mdl-cell--12-col">

      <div *ng-for="#notification of notifications" class="mdl-card mdl-shadow--2dp item">

        <div class="avatar">
          <a [router-link]="['/Channel', {username: notification.fromObj.username}]">
            <img src="/icon/{{notification.fromObj.guid}}/small}}" class="mdl-shadow--2dp"/>
          </a>
        </div>

        <div [ng-switch]="notification.notification_view" class="body">

          <!-- subscribed -->
          <template ng-switch-when="friends">
            <a [router-link]="['/Channel', {username: notification.fromObj.username}]">
              <p *ng-if="notification.fromObj.subscribed">You have a match! {{notification.fromObj.name}} subscribed to you</p>
              <p *ng-if="!notification.fromObj.subscribed">{{notification.fromObj.name}} subscribed to you</p>
            </a>
          </template>

          <!-- group inivite -->
          <template ng-switch-when="group_invite">
            <a>You've been invited to join {{notification.entityObj.name}}</a>
          </template>

          <!-- comment -->
          <template ng-switch-when="comment" *ng-if="notification.entityObj">

            <!-- Activity -->
            <a *ng-if="notification.entityObj.type == 'activity'"
              [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p *ng-if="notification.entityObj.owner_guid == session.getLoggedInUser().guid && !notification.entityObj.title">
                {{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span>
              </p>
              <p *ng-if="notification.entityObj.owner_guid != session.getLoggedInUser().guid  && !notification.entityObj.title">
                {{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.ownerObj.name}}'s activity</span>
              </p>
              <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span>
              </p>
            </a>

            <!-- Object-->
            <div *ng-if="notification.entityObj.type == 'object'" [ng-switch]="notification.entityObj.subtype">

              <template ng-switch-when="blog">
                <a [router-link]="['/Blog-View', {guid: notification.entityObj.guid}]">
                  {{notification.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span>
                </a>
              </template>

              <template ng-switch-default>
                <a [router-link]="['/Archive-View', {guid: notification.entityObj.guid}]">
                  <p>
                    {{notification.fromObj.name}} commented on
                    <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title" >{{notification.entityObj.title}}</span>
                    <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
                  </p>
                </a>
              </template>

            </div>

            <!-- Default -->
            <a *ng-if="notification.entityObj.type != 'object' && notification.entityObj.type != 'activity'">
              <p style="font-style:italic">
              There was an error viewing this notification.
              </p>
            </a>
          </template>

          <!-- up voted content -->
          <template ng-switch-when="like" *ng-if="notification.entityObj">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'object'">
              <p>
                {{notification.fromObj.name}} voted up
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'activity'">
              <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span>
              </p>
              <p *ng-if="!notification.entityObj.title">
                {{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.parent_guid}]" *ng-if="notification.entityObj.type == 'comment'">
              <p>
                {{notification.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400"> your comment </span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="!notification.entityObj">
              <p style="font-style:italic">
                      This post was deleted.
              </p>
            </a>
          </template>

          <!-- down voted content -->
          <template ng-switch-when="downvote" *ng-if="notification.entityObj">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'object'">
              <p>{{notification.fromObj.name}} down voted
                    <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                    <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'activity'">
              <p *ng-if="notification.entityObj.title">
                {{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span>
              </p>
              <p *ng-if="!notification.entityObj.title">
                {{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.parent_guid}]" *ng-if="notification.entityObj.type == 'comment'">
              <p>
                {{notification.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400"> your comment </span>
              </p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="!notification.entityObj">
              <p style="font-style:italic">
                    This post was deleted.
              </p>
            </a>
          </template>

          <!-- Remind -->
          <template ng-switch-when="remind" *ng-if="notification.entityObj">
              <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'object'">
                  <p>{{notification.fromObj.name}} reminded
                      <span class="pseudo-link mdl-color-text--blue-grey-400"  *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                      <span class="pseudo-link mdl-color-text--blue-grey-400"  *ng-if="!notification.entityObj.title">your {{notification.entityObj.subtype}}</span>
                 </p>
              </a>
              <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type == 'activity'">
                  <p *ng-if="notification.entityObj.title">
                    {{notification.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span>
                  </p>
                  <p *ng-if="!notification.entityObj.title">
                    {{notification.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span>
                  </p>
              </a>
          </template>

          <!-- featured -->
          <template ng-switch-when="feature" *ng-if="notification.entityObj">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p><span class="pseudo-link mdl-color-text--blue-grey-400">{{notification.entityObj.title}}</span> was featured</p>
            </a>
          </template>

          <!-- mention -->
          <template ng-switch-when="tag" *ng-if="notification.entityObj">
              <!-- tags from comments link differently -->
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]" *ng-if="notification.entityObj.type != 'comment'">
              <p>{{notification.fromObj.name}} tagged you in a post</p>
            </a>
            <a [router-link]="['/Activity', {guid: notification.entityObj.parent_guid}]" *ng-if="notification.entityObj.type == 'comment'">
              <p>{{notification.fromObj.name}} tagged you in a comment</p>
            </a>
          </template>

          <!-- missed-call -->
          <template ng-switch-when="missed_call">
            <a >
              <p><span class="pseudo-link mdl-color-text--blue-grey-400" >{{notification.fromObj.name}}</span> tried to call you.</p>
            </a>
          </template>

          <!-- boost_gift -->
          <template ng-switch-when="boost_gift">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p>
                {{notification.fromObj.name}} gifted you {{notification.params.impressions}} views for
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title"> your post</span>
              </p>
            </a>
          </template>

          <!-- Standard boost notification for owner -->
          <template ng-switch-when="boost_submitted">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
             <p>{{notification.params.impressions}} views for
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
              is awaiting approval.
             </p>
           </a>
          </template>

          <!-- P2P boost submitted -->
          <template ng-switch-when="boost_submitted_p2p">
              <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
                <p>{{notification.params.points}} points for
                  <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                  <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
                  is awaiting approval by <span class="pseudo-link mdl-color-text--blue-grey-400">@{{notification.params.channel}}</span>
                </p>
              </a>
          </template>

          <!-- P2P Boost Request -->
          <template ng-switch-when="boost_request">
              <a ng-click="loadBoostReview(notification.entityObj.guid)">
                  <p>{{notification.fromObj.name}} is offering you {{notification.params.points}} points to boost
                      <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title" >{{notification.entityObj.title}}</span>
                      <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">their activity</span>
                 </p>
              </a>
          </template>

          <!-- Boost reject -->
          <template ng-switch-when="boost_rejected">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p>You boost for
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
                was rejected. Your points have been credited back to your wallet.
              </p>
            </a>
          </template>

          <!-- Boost accepted -->
          <template ng-switch-when="boost_accepted">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p *ng-if="notification.params.impressions">{{notification.params.impressions}} views for
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
              <p *ng-if="notification.params.points">{{notification.params.points}} points for
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
                were accepted.
              </p>
            </a>
          </template>

          <!-- Boost completed -->
          <template ng-switch-when="boost_completed">
            <a [router-link]="['/Activity', {guid: notification.entityObj.guid}]">
              <p>{{notification.params.impressions}}/{{notification.params.impressions}} views for
                <span class="pseudo-link mdl-color-text--blue-grey-400"  *ng-if="notification.entityObj.title">{{notification.entityObj.title}}</span>
                <span class="pseudo-link mdl-color-text--blue-grey-400" *ng-if="!notification.entityObj.title">your post</span>
                have been met.</p>
            </a>
          </template>

          <!-- Points prompt -->
          <template ng-switch-when="custom_message">
              <a>
                  <p>{{notification.params.message}}</p>
              </a>
          </template>

          <!-- Welcome points -->
          <template ng-switch-when="welcome_points">
              <a [router-link]="['/Wallet']">
                  <p>Welcome to Minds. We have given you  <span class="pseudo-link mdl-color-text--blue-grey-400">100 points</span> to get you started.</p>
              </a>
          </template>

          <!-- tutorial/promts -->
          <template ng-switch-when="welcome_post">
              <a [router-link]="['/Capture']">
                  <p><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here</span> to create a post</p>
              </a>
          </template>

          <!-- Welcome messages -->
          <template ng-switch-when="welcome_boost">
              <a [router-link]="['/Channel', {username: session.getLoggedInUser().username}]">
                  <p>You can gain more reach by boosting your content. Hit the blue boost icon on your posts.</p>
              </a>
          </template>
          <template ng-switch-when="welcome_chat">
              <a [router-link]="['/Messenger']" >
                  <p>Chat securely with your mutual subscriptions. <span class="pseudo-link mdl-color-text--blue-grey-400">Tap here.</span></p>
              </a>
          </template>
          <template ng-switch-when="welcome_discover">
              <a [router-link]="['/Discovery', {filter: 'all', type: null}]">
                  <p><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here.</span> to discover new channels and media.</p>
              </a>
          </template>

          <!-- Default -->
          <template ng-switch-default>
            <i>Sorry, there was an error viewing this notification</i>
          </template>

          <span class="ts mdl-color-text--grey">{{ notification.time_created * 1000 | date : 'medium' }}</span>

        </div>

      </div>

    <infinite-scroll
        distance="25%"
        (load)="load()"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

  </div>

</div>
