<div class="mdl-grid newsfeed-grid" style="max-width:900px">

  <!-- START: SEARCH BAR -->
  <div class="mdl-cell mdl-cell--4-col">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label minds-gatherings-search" [mdl]>
      <input class="mdl-textfield__input" type="text" id="sample3" (keyup)="doneTyping($event)" />
      <label class="mdl-textfield__label" for="sample3"><i class="material-icons">search</i> Search users...</label>
    </div>

    <!-- START: Users -->
    <div class="minds-gatherings-conversation-list">
        <div class="mdl-card minds-block" *ng-for="#user of conversations" [ng-class]="{'mdl-color--blue-grey-600': user.guid == conversation}">
          <div class="minds-avatar">
            <a [router-link]="['/messenger-conversation', {guid: user.guid}]" (click)="conversation = user.guid">
              <img src="{{minds.cdn_url}}/icon/{{user.guid}}/small" class="mdl-shadow--2dp" alt={{user.username}} title={{user.username}}>
            </a>
          </div>
          <div class="minds-body">
            <a [router-link]="['/messenger-conversation', {guid: user.guid}]"
              (click)="conversation = user"
              [ng-class]="{'mdl-color-text--blue-grey-100': user.guid == conversation, 'mdl-color-text--blue-grey-500': user.guid != conversation}"
              >
              <h3>{{user.username}}</h3>
              <span class="mdl-color-text--grey-500">{{user.last_msg * 1000 | date:'shortTime'}} - {{user.last_msg * 1000 | date:'longDate'}}</span>
            </a>
          </div>
        </div>

      <infinite-scroll
        distance="25%"
        (load)="load()"
        *ng-if="hasMoreData"
        >
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
      </infinite-scroll>

    </div>
    <!-- END: Users -->
  </div>
  <!-- END: SEARCH BAR -->

  <div class="mdl-cell mdl-cell--8-col" >
    <minds-messenger-setup *ng-if="!setup" (done)="setup = true"></minds-messenger-setup>
    <minds-messenger-conversation *ng-if="setup" [conversation]="conversation"></minds-messenger-conversation>
  </div>
</div>
