<div class="mdl-card mdl-shadow--2dp" style="width:100%; min-height:0;">

  <div *ng-if="!show">
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" width="width: 100%;" [mdl]></div>
    <div class="mdl-card__supporting-text">
      Please wait one moment...
    </div>
  </div>

  <div *ng-if="!configured && show">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Configure Encrypted Chat</h2>
    </div>

    <div class="mdl-card__supporting-text">
      - You only need to enter this encryption password once as long as you stay signed in. <br/>
      - It is important so that no one other than you and the people you are communicating with can access the content of your messages. <br/>
    </div>


      <form #passwords="form" class="mdl-grid minds-messenger-setup-grid" (submit)="setup(passwords)">

        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
          <input class="mdl-textfield__input"
            type="password"
            id="password1"
            ng-control="password1"
            />
          <label class="mdl-textfield__label" for="password1">Enter your password...</label>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
          <input class="mdl-textfield__input"
          type="password"
          id="password2"
          ng-control="password2"
          />
          <label class="mdl-textfield__label" for="password2">Enter again to confirm...</label>
        </div>

        <div class="mdl-cell mdl-cell--12-col minds-messenger-setup-actions">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Setup & Confirm
          </button>
          <div class="minds-error mdl-color--red mdl-color-text--white" [hidden]="!error">
            {{error}}
          </div>
        </div>

      </form>


  </div>

  <div *ng-if="configured && show">
    <div class="mdl-card__title" >
      <h2 class="mdl-card__title-text">Unlock Encrypted Chat</h2>
    </div>
    <div class="mdl-card__supporting-text"  >

      <form #password="form" class="mdl-grid minds-messenger-setup-grid" (submit)="unlock(password)">

        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
          <input class="mdl-textfield__input"
            type="password"
            id="password"
            ng-control="password"
            />
          <label class="mdl-textfield__label" for="password">Enter your encryption password..</label>
        </div>

        <div class="mdl-cell mdl-cell--12-col minds-messenger-setup-actions">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Unlock
          </button>
          <div class="minds-error mdl-color--red mdl-color-text--white" [hidden]="!error">
            {{error}}
          </div>
        </div>


      </form>

    </div>
  </div>
</div>
