/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
/**
 * Channel profile pages
 */
minds-channel header {
  display: flex;
  align-items: flex-end;
  height: 330px;
  padding: 8px;
  box-sizing: content-box; }
  minds-channel header .minds-channel-title {
    display: flex; }
    minds-channel header .minds-channel-title .avatar img {
      max-height: 220px;
      max-width: 100%;
      border-radius: 50%; }
    minds-channel header .minds-channel-title > div {
      display: flex;
      align-items: flex-end;
      padding: 8px; }
      minds-channel header .minds-channel-title > div .flex-bottom h1 {
        margin: 0;
        line-height: 30px;
        font-size: 24px; }
      minds-channel header .minds-channel-title > div .flex-bottom h3 {
        margin: 0;
        line-height: 18px;
        font-size: 13px; }
  minds-channel header .minds-tabs {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start; }
    minds-channel header .minds-tabs a span {
      width: 100%;
      display: block;
      font-size: 11px;
      height: 11px;
      vertical-align: middle;
      line-height: 36px; }

minds-channel .mdl-card {
  width: 100%;
  min-height: 0; }
