/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
minds-app .initial-loading {
  width: 100%; }

.minds-noshadow {
  box-shadow: 0 0 0 !important; }

minds-topbar .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54) !important; }

minds-topbar .logo img {
  height: 46px; }

minds-topbar .minds-menu-button > i {
  padding: 12px 0; }

minds-navigation .minds-account {
  padding: 16px; }
  minds-navigation .minds-account img {
    border-radius: 50%; }
  minds-navigation .minds-account .minds-account-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }

minds-navigation nav.minds-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  minds-navigation nav.minds-navigation .mdl-navigation__link {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700; }
    minds-navigation nav.minds-navigation .mdl-navigation__link .material-icons {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.56);
      margin-right: 24px; }

minds-newsfeed .item.mdl-card {
  width: auto;
  min-height: 0;
  margin-bottom: 16px; }
  minds-newsfeed .item.mdl-card .mdl-card__supporting-text {
    width: 100%; }
  minds-newsfeed .item.mdl-card .mdl-card__supporting-text.message {
    white-space: pre-line; }
  minds-newsfeed .item.mdl-card .tabs {
    padding: 8px 16px;
    display: flex;
    box-sizing: border-box; }
    minds-newsfeed .item.mdl-card .tabs a {
      display: flex;
      flex-direction: column;
      flex: auto;
      text-align: center; }

minds-newsfeed .post {
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  min-height: 0; }
  minds-newsfeed .post .mdl-textfield {
    width: 100%;
    padding-top: 0; }
  minds-newsfeed .post .mdl-button {
    width: 0;
    float: right; }

.owner-block {
  padding: 16px;
  display: flex; }
  .owner-block .avatar {
    display: flex;
    flex-direction: column; }
    .owner-block .avatar img {
      border-radius: 3px;
      max-height: 50px; }
  .owner-block .body {
    display: flex;
    flex-direction: column;
    margin-left: 16px; }
  .owner-block a {
    text-decoration: none;
    font-weight: 500;
    color: #333; }
  .owner-block span {
    color: #888;
    font-size: 11px; }
  .owner-block img {
    border-radius: 3px; }

.minds-login-box {
  padding: 16px;
  margin: auto; }
