/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
minds-app .initial-loading {
  width: 100%; }

.minds-noshadow {
  box-shadow: 0 0 0 !important; }

minds-topbar .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54) !important; }

minds-topbar .mdl-layout__header-row {
  padding-left: 32px; }

minds-topbar .minds-logo {
  /*position:absolute;
    top:0;
    left:0;
    height:64px;
    box-sizing: border-box;
    padding:$minds-padding $minds-padding $minds-padding*2;*/
  height: 64px;
  box-sizing: border-box;
  padding: 8px 0 16px;
  margin-right: 32px; }
  minds-topbar .minds-logo img {
    height: 100%; }

minds-topbar .minds-search-bar {
  width: 60%; }
  minds-topbar .minds-search-bar .material-icons {
    position: absolute;
    margin: 6px; }
  minds-topbar .minds-search-bar input {
    border: 1px solid rgba(0, 0, 0, 0.12); }
  minds-topbar .minds-search-bar input, minds-topbar .minds-search-bar label {
    padding: 8px 32px;
    box-sizing: border-box; }

minds-topbar .minds-account img {
  max-height: 42px;
  border-radius: 3px; }

minds-topbar .minds-menu-button {
  display: none; }
  minds-topbar .minds-menu-button i {
    padding: 12px 0; }

@media screen and (max-width: 790px) {
  minds-topbar .minds-logo {
    display: none; }
  minds-topbar .minds-menu-button {
    display: block; }
  minds-topbar .mdl-layout__header-row {
    padding-left: 72px; }
  .mdl-layout__drawer {
    top: 56px; } }

.mdl-layout__drawer {
  width: 100px; }

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 100px; }

.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 100px;
  width: calc(100% - 100px); }

@media screen and (max-width: 850px) {
  .mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 0; } }

.minds-sidebar {
  border: 0; }
  .minds-sidebar minds-navigation {
    padding-top: 0 !important; }
    .minds-sidebar minds-navigation .minds-account {
      padding: 16px; }
      .minds-sidebar minds-navigation .minds-account img {
        border-radius: 50%; }
      .minds-sidebar minds-navigation .minds-account .minds-account-dropdown {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%; }
    .minds-sidebar minds-navigation nav.minds-navigation {
      padding-top: 0 !important;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .minds-sidebar minds-navigation nav.minds-navigation .mdl-navigation__link {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
        padding: 16px 38px;
        font-weight: 100;
        font-size: 11px;
        text-transform: lowercase; }
        .minds-sidebar minds-navigation nav.minds-navigation .mdl-navigation__link .material-icons {
          font-size: 24px;
          color: rgba(255, 255, 255, 0.56); }

.minds-login-box {
  padding: 16px;
  margin: auto; }

.mdl-tabs__tab.is-active {
  border-bottom: 2px solid #FFC108; }

.mdl-textfield__label .material-icons {
  line-height: 0;
  vertical-align: middle; }

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.07); }

.mdl-shadow--4dp {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.07); }

.coming-soon section {
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 55px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 41px; }

.mobile-ad {
  min-height: 0; }

.minds-spacer {
  height: 8px;
  width: 8px; }

.minds-spacer-2x {
  height: 16px;
  width: 16px; }

/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
/**
 * Newsfeed and timelines
 */
minds-newsfeed, minds-channel {
  /**
    * Activity card
    */
  /**
    * Post form
    */ }
  minds-newsfeed .item.mdl-card, minds-channel .item.mdl-card {
    width: auto;
    min-height: 0;
    margin-bottom: 16px;
    border-radius: 3px;
    /**
      * Action tabs
      */
    /**
      * Rich embeds
      */
    /**
      * Remind
      */
    /**
      * Owner block
      */ }
    minds-newsfeed .item.mdl-card .mdl-card__supporting-text, minds-channel .item.mdl-card .mdl-card__supporting-text {
      width: 100%;
      box-sizing: border-box; }
    minds-newsfeed .item.mdl-card .mdl-card__supporting-text.message, minds-channel .item.mdl-card .mdl-card__supporting-text.message {
      white-space: pre-line; }
    minds-newsfeed .item.mdl-card .tabs, minds-channel .item.mdl-card .tabs {
      padding: 8px 16px;
      display: flex;
      box-sizing: border-box; }
      minds-newsfeed .item.mdl-card .tabs a, minds-channel .item.mdl-card .tabs a {
        display: flex;
        flex-direction: column;
        flex: auto;
        text-align: center;
        cursor: pointer; }
      minds-newsfeed .item.mdl-card .tabs .selected, minds-channel .item.mdl-card .tabs .selected {
        color: #4690D6 !important; }
    minds-newsfeed .item.mdl-card .minds-more, minds-channel .item.mdl-card .minds-more {
      height: 50px;
      width: 24px; }
      minds-newsfeed .item.mdl-card .minds-more i, minds-channel .item.mdl-card .minds-more i {
        font-size: 50px;
        width: 50px;
        left: 50%;
        transform: translate(-25px, -12px);
        font-weight: 100; }
    minds-newsfeed .item.mdl-card .minds-rich-embed img, minds-channel .item.mdl-card .minds-rich-embed img {
      width: 100%; }
    minds-newsfeed .item.mdl-card .minds-rich-embed .meta, minds-channel .item.mdl-card .minds-rich-embed .meta {
      padding: 16px;
      display: block;
      text-decoration: none; }
    minds-newsfeed .item.mdl-card minds-remind, minds-channel .item.mdl-card minds-remind {
      margin: 16px; }
    minds-newsfeed .item.mdl-card .owner-block, minds-channel .item.mdl-card .owner-block {
      padding: 16px;
      display: flex; }
      minds-newsfeed .item.mdl-card .owner-block .avatar, minds-channel .item.mdl-card .owner-block .avatar {
        display: flex;
        flex-direction: column; }
        minds-newsfeed .item.mdl-card .owner-block .avatar img, minds-channel .item.mdl-card .owner-block .avatar img {
          border-radius: 3px;
          max-height: 50px; }
      minds-newsfeed .item.mdl-card .owner-block .body, minds-channel .item.mdl-card .owner-block .body {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-top: 8px; }
      minds-newsfeed .item.mdl-card .owner-block a, minds-channel .item.mdl-card .owner-block a {
        text-decoration: none;
        font-weight: 500;
        color: #333; }
      minds-newsfeed .item.mdl-card .owner-block span, minds-channel .item.mdl-card .owner-block span {
        color: #888;
        font-size: 11px; }
      minds-newsfeed .item.mdl-card .owner-block img, minds-channel .item.mdl-card .owner-block img {
        border-radius: 3px; }
  minds-newsfeed .post, minds-channel .post {
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    min-height: 0; }
    minds-newsfeed .post .mdl-textfield, minds-channel .post .mdl-textfield {
      width: 100%;
      padding-top: 0; }
    minds-newsfeed .post .mdl-button, minds-channel .post .mdl-button {
      width: 0;
      float: right; }
    minds-newsfeed .post .post-preview, minds-channel .post .post-preview {
      margin: -16px; }
      minds-newsfeed .post .post-preview .mdl-spinner, minds-channel .post .post-preview .mdl-spinner {
        margin: 16px auto;
        display: block; }

/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
/**
 * Channel profile pages
 */
minds-channel header {
  display: flex;
  align-items: flex-end;
  height: 330px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden; }
  minds-channel header .channel-grid {
    align-items: flex-end;
    padding: 0; }
  minds-channel header .minds-channel-title {
    display: flex;
    margin: 0; }
    minds-channel header .minds-channel-title .avatar img {
      max-height: 220px;
      max-width: 100%;
      border-radius: 3px; }
    minds-channel header .minds-channel-title > div {
      display: flex;
      align-items: flex-end;
      padding: 8px; }
      minds-channel header .minds-channel-title > div .flex-bottom h1 {
        margin: 0;
        line-height: 30px;
        font-size: 24px; }
      minds-channel header .minds-channel-title > div .flex-bottom h3 {
        margin: 0;
        line-height: 18px;
        font-size: 13px; }
  minds-channel header .minds-tabs {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0; }
    minds-channel header .minds-tabs a span {
      width: 100%;
      display: block;
      font-size: 11px;
      height: 11px;
      vertical-align: middle;
      line-height: 36px; }

minds-channel .mdl-card {
  width: 100%;
  min-height: 0; }

/**
 * Colours
 */
/**
 * Padding, Margins and Offset
 */
/**
 * Infinite scroll
 */
infinite-scroll {
  text-align: center;
  padding: 16px; }
  infinite-scroll > div {
    margin: auto;
    display: block !important; }

/**
 * Carousel
 */
.minds-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  z-index: -1; }
  .minds-carousel .minds-carousel-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    opacity: 0;
    overflow: hidden;
    -moz-transition: opacity ease-in-out 0.7s;
    -o-transition: opacity ease-in-out 0.7s;
    -webkit-transition: opacity ease-in-out 0.7s;
    transition: opacity ease-in-out 0.7s;
    position: absolute;
    display: block; }
    .minds-carousel .minds-carousel-item .minds-carousel-overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.2)); }
  .minds-carousel .placeholder {
    background-color: #4690C3;
    opacity: 1; }

minds-gatherings .minds-gatherings-search {
  width: 100%; }

minds-card-user {
  min-height: 0; }
  minds-card-user .minds-usercard-banner {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative; }
    minds-card-user .minds-usercard-banner > img {
      width: 100%; }
    minds-card-user .minds-usercard-banner .minds-banner-overlay {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); }
  minds-card-user .minds-usercard-block {
    margin-top: -72px;
    padding-bottom: 0;
    position: relative;
    display: flex;
    text-decoration: none;
    color: #FFF; }
    minds-card-user .minds-usercard-block .body {
      flex: 1;
      margin: 16px; }
      minds-card-user .minds-usercard-block .body h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 18px;
        padding: 0;
        margin: 0; }
      minds-card-user .minds-usercard-block .body button {
        margin-top: 8px;
        width: 100%; }
  minds-card-user .minds-tabs {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0; }
    minds-card-user .minds-tabs a {
      padding: 0 8px;
      flex: auto; }
      minds-card-user .minds-tabs a span {
        width: 100%;
        display: block;
        font-size: 11px;
        height: 11px;
        vertical-align: middle;
        line-height: 36px; }
