<div class="mdl-tabs__tab-bar">
    <a [router-link]="['/Discovery', {filter: _filter, type: 'albums'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': _type == 'albums' || _type == 'all'}" [hidden]="_filter != 'owner'">Albums</a>
    <a [router-link]="['/Discovery', {filter: _filter, type: 'videos'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': _type == 'videos' || _type == 'all'}">Videos</a>
    <a [router-link]="['/Discovery', {filter: _filter, type: 'images'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': _type == 'images' || _type == 'all'}">Images</a>
    <a [router-link]="['/Discovery', {filter: _filter, type: 'channels'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': _type == 'channels' || _type == 'all'}" [hidden]="_filter == 'owner'">Channels</a>
</div>

<div class="mdl-grid newsfeed-grid" style="max-width:900px">

    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp" *ng-for="#entity of entities">

      <minds-card-video [object]="entity" *ng-if="entity.subtype == 'video'"></minds-card-video>
      <minds-card-image [object]="entity" *ng-if="entity.subtype == 'image'"></minds-card-image>
      <minds-card-album [object]="entity" *ng-if="entity.subtype == 'album'"></minds-card-album>

      <!-- START: User Only -->
      <minds-card-user [object]="entity" *ng-if="entity.type == 'user'"></minds-card-user>
      <!-- END: User Only -->
    </div>

    <infinite-scroll
        distance="25%"
        (load)="load()"
        *ng-if="moreData"
        />
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
    </infinite-scroll>

</div>
