<!-- START: Actions -->
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__actions">
    <div class="minds-error mdl-color--red mdl-color-text--white" [hidden]="!error">{{error}}</div>

    <button class="mdl-button mdl-button--colored"
      [ng-class]="{'mdl-button--raised': changed}"
      [disabled]="!canSubmit()"
      [hidden]="saved"
      (click)="save()"
      style="float:right"
      >
      Save
    </button>
    <button class="mdl-button mdl-button--colored"
      [hidden]="!saved"
      style="float:right"
      >
      Saved
    </button>
  </div>
  <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" [hidden]="!inProgress"></div>
</div>

<!-- START: NAME -->
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Display Name</h2>
  </div>

  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield" [mdl-textfield]>
      <input class="mdl-textfield__input"
        type="name"
        id="name"
        [(ng-model)]="name"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="name">Enter your name here</label>
    </div>

  </div>
</div>
<!-- END: NAME -->

<!-- START: PASSWORD -->
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Account Password</h2>
  </div>

  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl-textfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password"
        [(ng-model)]="password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password">Current password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl-textfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password1"
        [(ng-model)]="password1"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password1">Your new password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl-textfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password2"
        [(ng-model)]="password2"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password2">Your new password again</label>
    </div>
  </div>
</div>
<!-- END: PASSWORD -->

<!-- START: EMAIL -->
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Email Settings</h2>
  </div>
  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl-textfield]>
      <input class="mdl-textfield__input"
        type="email"
        id="email"
        [(ng-model)]="email"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="email"></label>
    </div>
  </div>

</div>
<!-- END: EMAIL -->

<!-- START: LANGUAGE -->
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Language Settings</h2>
  </div>

  <div class="mdl-card__supporting-text">
    Your language:
    <select name="language">
      <option value="en" selected="selected">English</option>
      <option value="ru">Russian</option>
      <option value="da">Dansk</option>
      <option value="tr">Türkçe</option>
      <option value="de">Deutsch</option>
      <option value="ja">Japanese(日本語)</option>
      <option value="zh">中文</option>
      <option value="it">Italian</option>
      <option value="fi">Suomi</option>
      <option value="es">Español</option>
      <option value="fr">Français</option>
    </select>
  </div>

</div>
<!-- END: LANGUAGE -->
