<div class="mdl-grid" style="max-width:900px">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Display Name</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="displayName"
      id="displayName"
      />
      <label class="mdl-textfield__label" for="displayName"></label>
    </div>
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Account Password</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="password"
      id="password1"
      />
      <label class="mdl-textfield__label" for="password1">Current password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="password"
      id="newPassword1"
      />
      <label class="mdl-textfield__label" for="newPassword1">Your new password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="password"
      id="newPassword2"
      />
      <label class="mdl-textfield__label" for="newPassword2">Your new password again</label>
    </div>
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Email Settings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
      <input class="mdl-textfield__input"
      type="text"
      id="email"
      />
      <label class="mdl-textfield__label" for="email"></label>
    </div>
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Language Settings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Your language:
    <select name="language">
      <option value="en" selected="selected">English</option>
      <option value="ru">Russian</option>
      <option value="da">Dansk</option>
      <option value="tr">Türkçe</option>
      <option value="de">Deutsch</option>
      <option value="ja">Japanese(日本語)</option>
      <option value="zh">中文</option>
      <option value="it">Italian</option>
      <option value="fi">Suomi</option>
      <option value="es">Español</option>
      <option value="fr">Français</option>
    </select>
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Notification settings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Email:
    <select name="language">
      <option value="yes" selected="selected">Yes</option>
      <option value="no">No</option>
    </select>
  </div>

</div>
