<div class="mdl-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--4-col">
    <ul class="mdl-card mdl-color--white mdl-shadow--2dp minds-settings-nav">
      <li class="minds-settings-item">
        <a [router-link]="['/settings', {filter: 'general'}]" class ="mdl-color-text--blue-grey-500">
          Change your settings
        </a>
      </li>
      <!--<li class="minds-settings-item">
        <a [router-link]="['/settings', {filter: 'statistics'}]" class ="mdl-color-text--blue-grey-500" >
          Account statistics
        </a>
      </li>-->
      <li [router-link]="['/settings', {filter: 'disable'}]" class="minds-settings-item">
        <a class ="mdl-color-text--blue-grey-500" >
          Deactivate channel
        </a>
      </li>
      <li class="minds-settings-item" >
        <a [router-link]="['/settings', {filter: 'twoFactor'}]" class ="mdl-color-text--blue-grey-500" >
          Two factor authentication
        </a>
      </li>
    </ul>
  </div>

  <div class="mdl-cell mdl-cell--8-col minds-settings-content">
    <minds-settings-general *ng-if="filter == 'general'"></minds-settings-general>
    <!--<minds-settings-statistics *ng-if="filter == 'statistics'"></minds-settings-statistics>-->
    <minds-settings-disable-channel *ng-if="filter == 'disable'"></minds-settings-disable-channel>
    <minds-settings-two-factor *ng-if="filter == 'twoFactor'"></minds-settings-two-factor>
  </div>

</div>
