<div class="mdl-grid" style="max-width:900px">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Your details</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Full Name
      </div>
      <div class="minds-settings-data-text">
        {{data.fullname}}
      </div>
    </div>
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Email
      </div>
      <div class="minds-settings-data-text">
        {{data.email}}
      </div>
    </div>
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Member since
      </div>
      <div class="minds-settings-data-text">
        {{data.memberSince * 1000 | date:'shortTime'}} - {{data.memberSince * 1000 | date:'longDate'}}
      </div>
    </div>
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Last logged in
      </div>
      <div class="minds-settings-data-text">
        {{data.lastLogin * 1000 | date:'shortTime'}} - {{data.lastLogin * 1000 | date:'longDate'}}
      </div>
    </div>

  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Your content</h2>
  </div>
  <div class="mdl-card__supporting-text">
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Your usage</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Storage
      </div>
      <div class="minds-settings-data-text">
        {{data.storage}}
      </div>
    </div>
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Bandwidth
      </div>
      <div class="minds-settings-data-text">
        {{data.bandwidth}}
      </div>
    </div>
  </div>

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Referrals</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Referrals
      </div>
      <div class="minds-settings-data-text">
        {{data.referrals}}
      </div>
    </div>
    <div class="minds-settings-data-text-container">
      <div class="minds-settings-data-text">
        Earnings
      </div>
      <div class="minds-settings-data-text">
        {{data.earnings}}
      </div>
    </div>
  </div>

</div>
