<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 owner-block" *ng-if="activity.ownerObj && activity.ownerObj.username">

	<div class="avatar">
		<a [router-link]="['/Channel', {username: activity.ownerObj.username}]">
			<img src="/icon/{{activity.ownerObj.guid}}/medium/{{activity.ownerObj.icontime}}" class="mdl-shadow--2dp"/>
		</a>
	</div>

	<div class="body">
		<a [router-link]="['/Channel', {username: activity.ownerObj.username}]">
			<strong>{{activity.ownerObj.name}}</strong>
		</a>
		<span>{{activity.time_created * 1000 | date:'medium'}}</span>
	</div>

</div>

<!-- Messages -->
<div class="mdl-card__supporting-text message" [hidden]="!activity.message" [tags]>{{activity.message | tags}}</div>

<!-- Rich content -->
<div class="minds-rich-embed" *ng-if="activity.perma_url && activity.title">
	<a [href]="activity.perma_url" target="_blank" *ng-if="activity.thumbnail_src">
		<img [src]="activity.thumbnail_src" />
	</a>
	<a [href]="activity.perma_url" target="_blank" class="meta mdl-color-text--blue-grey-900">
		<h2 class="mdl-card__title-text" *ng-if="activity.title">{{activity.title}}</h2>
		<p>{{activity.blurb}}</p>
	</a>
</div>

<div class="mdl-card__supporting-text message" [hidden]="!activity.title || activity.perma_url" [tags]>{{activity.title}}</div>

<div class="item item-image item-image-video" *ng-if="activity.custom_type == 'video'">
		 <video
			 	id="video"
				width="100%"
				height="300px"
				style="background:#000;"
				reload="auto"
				loop
				controls
				muted
				autoplay
				poster="{{activity.custom_data.thumbnail_src}}"
			>
			<source src="api/v1/archive/{{activity.custom_data.guid}}/play"></source>
		</video>
 </div>

<!-- Images -->
<div class="item item-image allow-select" *ng-if="activity.thumbnail_src && !activity.perma_url">
	<img [src]="activity.thumbnail_src">
</div>

<!-- Custom type:: batch -->
<div class="item item-image allow-select" *ng-if="activity.custom_type == 'batch'">
	<img [src]="activity.custom_data[0].src" style="width:100%">
</div>

<!-- Reminds -->
<div *ng-if="activity.remind_object">
	<minds-remind [object]="activity.remind_object" class="mdl-card mdl-shadow--6dp item"></minds-remind>
</div>

<div class="mdl-card__supporting-text is-boosted" *ng-if="activity.boosted">
	<i class="material-icons">trending_up</i>
	<a>Boosted</a>
</div>

<div class="mdl-card__supporting-text mdl-color--blue-grey-50 tabs" *ng-if="!hideTabs">
	<minds-button-thumbs-up [object]="activity"></minds-button-thumbs-up>
	<minds-button-thumbs-down [object]="activity"></minds-button-thumbs-down>
	<minds-button-comment [object]="activity" (click)="openComments()"></minds-button-comment>
	<minds-button-remind [object]="activity"></minds-button-remind>
  <a class="mdl-button mdl-color-text--white mdl-button--colored minds-boost-button"
    *ng-if ="session.getLoggedInUser().guid == activity.owner_guid"
    id="boost-actions"
    (click)="showBoost()">
    Boost
  </a>
</div>

<span class="impressions-tag">{{activity.impressions}} views</span>

<div class="mdl-card__supporting-text mdl-color--blue-grey-50" *ng-if="commentsToggle">
	<minds-comments [object]="activity"></minds-comments>
</div>

<div class="mdl-card__supporting-text mdl-color--blue-grey-50" *ng-if="showBoostOptions">
	<minds-boost [object]="activity" class="minds-boost-container" (done)="showBoostOptions = false"></minds-boost>
</div>

<div class="mdl-card__menu mdl-color-text--blue-grey-300" #toggle>
	<!-- Right aligned menu below button -->
	<button class="mdl-button minds-more mdl-button--icon" (click)="toggle.value = !toggle.value">
		<i class="material-icons">keyboard_arrow_down</i>
	</button>

	<ul class="minds-dropdown-menu" [hidden]="!toggle.value">
		<li class="mdl-menu__item" disabled>Share</li>
		<li class="mdl-menu__item" *ng-if="activity.owner_guid == session.getLoggedInUser().guid" (click)="delete(); toggle.value = !toggle.value">Delete</li>
	</ul>
</div>
