<div class="minds-usercard-banner">
	<img src="{{minds.cdn_url}}/fs/v1/banners/{{user.guid}}/fat/{{user.icontime}}"/>
	<div class="minds-banner-overlay"></div>
</div>

<a [router-link]="['/Channel', {username: user.username}]" class="mdl-card__supporting-text minds-usercard-block">
	<div class="avatar">
			<img src="{{minds.cdn_url}}/icon/{{user.guid}}/medium/{{user.icontime}}" class="mdl-shadow--2dp"/>
	</div>
	<div class="body">
		<h3>{{user.name}}</h3>
		<span>@{{user.username}}</span>
	</div>
</a>

<minds-button-subscribe [user]="user" *ng-if="user.guid != session.getLoggedInUser().guid"></minds-button-subscribe>

<div class="minds-tabs mdl-tabs__tab-bar">
		<a class="mdl-tabs__tab mdl-color-text--blue-grey-500 1">
			<span>Subscribers</span>
			<b>{{user.subscribers_count}}</b>
		</a>
		<a class="mdl-tabs__tab mdl-color-text--blue-grey-500 2">
			<span>Subscriptions</span>
			<b>{{user.subscriptions_count}}</b>
		</a>
		<a class="mdl-tabs__tab mdl-color-text--blue-grey-500 3">
			<span>Views</span>
			<b>{{user.impressions}}</b>
		</a>
</div>
