<div class="mdl-card mdl-shadow--2dp" style="width:100%">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Configure Encrypted Chat</h2>
  </div>
  <div class="mdl-card__supporting-text">
    - You only need to enter this encryption password once as long as you stay signed in. <br/>
    - It is important so that no one other than you and the people you are communicating with can access the content of your messages. <br/>
    - By default the content of your messages is fully encrypted. For heightened security you may wish to go to your app settings and turn off push notifications in order to disallow metadata from being tracked.
  </div>
  <div class="mdl-card__supporting-text">
    <form #passwords="form" (submit)="setup(passwords)">

      <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
        <input class="mdl-textfield__input"
          type="password"
          id="sample1"
          ng-control="password1"
         />
        <label class="mdl-textfield__label" for="password2">Enter your password...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield textfield-demo" [mdl]>
        <input
          class="mdl-textfield__input"
          type="password"
          id="password2"
          ng-control="password2"
          />
        <label class="mdl-textfield__label" for="password2">Enter again to confirm...</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
          Setup & Confirm
      </button>

    </form>
  </div>

</div>
