<div class="mdl-grid minds-analytics" style="max-width:990px">

  <!-- Daily active users -->
  <div class="mdl-cell mdl-cell--col-4">
    <div class="mdl-card">
      <div class="mdl-card__title">Daily Active Users</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-line [data]="dam"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results">
        <div *ng-for="#stat of dam" class="row">
          <label>{{stat.timestamp * 1000 | date: 'dEEEEMM'}}</label>
          <b>{{stat.total}}</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Monthly active users -->
  <div class="mdl-cell mdl-cell--col-4">
    <div class="mdl-card">
      <div class="mdl-card__title">Monthly Active Users</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-line [data]="mam"></minds-graph-line>
      </div>
      <div class="mdl-card__supporting-text results">
        <div *ng-for="#stat of mam" class="row">
          <label>{{stat.timestamp * 1000 | date: 'MMMM'}}</label>
          <b>{{stat.total}}</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Boost Stats -->
  <div class="mdl-cell mdl-cell--col-4">
    <div class="mdl-card">
      <div class="mdl-card__title">Boost</div>
      <div class="mdl-card__supporting-text">
        <minds-graph-pie [data]="[{ label: 'review', total: boost_newsfeed.percent  }]"></minds-graph-pie>
      </div>
      <div class="mdl-card__supporting-text results">

        <div class="row">
          <label>Review</label>
          <b>{{boost_newsfeed.review}}</b>
        </div>
        <div class="row">
          <label>Approved</label>
          <b>{{boost_newsfeed.approved}}</b>
        </div>

      </div>
    </div>
  </div>

</div>
