<div class="mdl-tabs__tab-bar">
    <a [router-link]="['/Admin', {filter: 'boosts', type: 'newsfeed'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'newsfeed'}">Newsfeed ({{newsfeed_count}})</a>
    <a [router-link]="['/Admin', {filter: 'boosts', type: 'suggested'}]" class="mdl-tabs__tab" [ng-class]="{'is-active': type == 'suggested'}">Suggested ({{suggested_count}})</a>
</div>

<div class="mdl-grid minds-boosts" style="max-width:600px">

  <!-- Daily active users -->
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [hidden]="entities.length > 0 || !inProgress"></div>

    <div class="mdl-card__supporting-text" [hidden]="inProgress || moreData">
      There are no more boosts to approve
    </div>

    <div class="mdl-card mdl-shadow--4dp boost" *ng-for="#entity of entities; #i = index">

      <!-- Supports multiple type.. we should implemenet a reusable component in the future -->
      <minds-card-video [object]="entity" class="mdl-card mdl-shadow--8dp" *ng-if="entity.subtype == 'video'"></minds-card-video>
      <minds-card-image [object]="entity" class="mdl-card mdl-shadow--8dp" *ng-if="entity.subtype == 'image'"></minds-card-image>
      <minds-card-blog [object]="entity" class="mdl-card mdl-shadow--8dp" *ng-if="entity.subtype == 'blog'"></minds-card-blog>
      <minds-card-user [object]="entity" class="mdl-card mdl-shadow--8dp" *ng-if="entity.type == 'user'"></minds-card-user>
      <minds-activity [object]="entity" class="mdl-card mdl-shadow--8dp" *ng-if="entity.type == 'activity'"></minds-activity>

      <div class="mdl-card__supporting-text action-buttons">
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--green" (click)="accept(entity)">Accept</button>
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--red" (click)="reject(entity)">Reject</button>

        <span class="impressions">
          Requesting: {{entity.boost_impressions}} views
        </span>
      </div>

    </div>
  </div>

</div>
