<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 owner-block">

	<div class="avatar">
		<a [router-link]="['/channel', {username: activity.ownerObj.username}]">
			<img src="/icon/{{activity.ownerObj.guid}}/small}}" class="mdl-shadow--2dp"/>
		</a>
	</div>

	<div class="body">
		<a [router-link]="['/channel', {username: activity.ownerObj.username}]">
			<strong>{{activity.ownerObj.name}}</strong>
		</a>
		<span>{{toDate(activity.time_created)}}</span>
	</div>

</div>

<!-- Messages -->
<div class="mdl-card__supporting-text message" [hidden]="!activity.message">{{activity.message}}</div>

<!-- Rich content -->
<div class="minds-rich-embed" *ng-if="activity.perma_url">
  <a [href]="activity.perma_url" target="_blank">
    <img [src]="activity.thumbnail_src" />
  </a>
  <a [href]="activity.perma_url" target="_blank" class="meta mdl-color-text--blue-grey-900">
    <h2 class="mdl-card__title-text" *ng-if="activity.title">{{activity.title}}</h2>
    <p>{{activity.blurb}}</p>
  </a>
</div>

<!-- Images -->
<div class="item item-image allow-select" *ng-if="activity.thumbnail_src && !activity.perma_url">
		<img [src]="activity.thumbnail_src">
</div>

<!-- Custom type:: batch -->
<div class="item item-image allow-select" *ng-if="activity.custom_type == 'batch'">
		<img [src]="activity.custom_data[0].src" style="width:100%">
</div>

<!-- Reminds -->
<div *ng-if="activity.remind_object">
	<minds-remind [object]="activity.remind_object" class="mdl-card mdl-shadow--6dp item"></minds-remind>
</div>

<div class="mdl-card__supporting-text mdl-color--blue-grey-50 tabs" *ng-if="!hideTabs">

	<a class="material-icons mdl-color-text--blue-grey-800" (click)="thumbsUp(activity.guid)" [class]="{'selected': hasThumbedUp()}">thumb_up</a>
	<a class="material-icons mdl-color-text--blue-grey-800" (click)="thumbsDown(activity.guid)" [class]="{'selected': hasThumbedDown()}">thumb_down</a>
	<a class="material-icons mdl-color-text--blue-grey-800" (click)="comment(activity.guid)">chat_bubble</a>
	<a class="material-icons mdl-color-text--blue-grey-800" (click)="remind(activity.guid)" [class]="{'selected': hasReminded()}">repeat</a>

</div>

<div class="mdl-card__menu">
	<button class="mdl-button mdl-js-button mdl-button--icon" id="more-{{activity.guid}}" [mdl]>
		<i class="material-icons">more_vert</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
			for="more-{{activity-guid}}"
			[mdl]
			>
		<li class="mdl-menu__item" disabled>Share</li>
		<li class="mdl-menu__item" *ng-if="activity.owner_guid == session.getLoggedInUser().guid" (click)="delete()">Delete</li>
	</ul>

</div>
