@import 'defaults.scss';

minds-groups-create{
  form{
    width:100%;
  }
  .minds-groups-name{
    width:100%;

    input{
      padding:$minds-padding*2;
    }
    label{
      padding:($minds-padding*2)-4 $minds-padding*2;
    }
  }

  .minds-groups-brief{
    width:100%;

    textarea{
      padding:$minds-padding*2;
    }
    label{
      top:inherit;
      bottom:24px;
      padding:($minds-padding*2)-4 $minds-padding*2;
    }

  }
  .minds-groups-brief.is-focused{
    label{
      bottom:0;
      top:24px;
    }
  }

  .minds-groups-visibilty{
    .mdl-radio{
      display:block;
    }
  }

  .minds-groups-save{
      margin-top:$minds-padding * 2;

      button{
        float:right;
      }
  }

}

.groups-tabs{
  max-width: 900px;
  margin: auto;
  justify-content: left;
}

minds-groups-profile-requests{
  .mdl-cell{
    min-height:0;
  }

  .mdl-card__title{
    padding:$minds-padding;
  }

  .minds-avatar{
    margin-right:$minds-margin;
    img{
      width:50px;
    }
  }

  .mdl-card__actions{
    border-top: 0;
    width: auto;
    right: 0;
    position: absolute;
    top: 0;
    padding: $minds-padding*2;
  }
}
