@import 'defaults.scss';

.minds-banner-card{
  minds-groups-join-button{
    position: absolute;
    margin: -38px 130px;
  }
  &.group-card{
    padding-bottom:$minds-padding*2;
  }
}
.members-grid{
  @include flex-display();
  @include flex-wrap(wrap);
}

minds-groups-create{
  form{
    width:100%;
  }
  .minds-groups-name{
    width:100%;

    input{
      padding:$minds-padding*2;
    }
    label{
      padding:($minds-padding*2)-4 $minds-padding*2;
    }
  }

  .minds-groups-brief{
    width:100%;

    textarea{
      padding:$minds-padding*2;
    }
    label{
      top:inherit;
      bottom:24px;
      padding:($minds-padding*2)-4 $minds-padding*2;
    }

  }
  .minds-groups-brief.is-focused{
    label{
      bottom:0;
      top:24px;
    }
  }

  .minds-groups-visibilty{
    .mdl-radio{
      display:block;
    }
  }

  .minds-groups-save{
      margin-top:$minds-padding * 2;

      button{
        float:right;
      }
  }

}

.groups-tabs{
  max-width: 900px;
  margin: auto;
  justify-content: unset !important;

  minds-button-edit{
    padding:$minds-padding;

    button.material-icons{
      padding: 4px 8px;
      font-size: 23px;
    }
  }
  minds-groups-join-button{
    padding:$minds-padding $minds-padding*2;
  }
}

.minds-group-title{
  h1, input{
    font-size: 56px;
  }
}

minds-groups-profile-requests{
  .mdl-cell{
    min-height:0;
  }

  .mdl-card__title{
    padding:$minds-padding;
  }

  .minds-avatar{
    margin-right:$minds-margin;
    img{
      width:50px;
    }
  }

  .mdl-card__actions{
    border-top: 0;
    width: auto;
    right: 0;
    position: absolute;
    top: 0;
    padding: $minds-padding*2;
  }
}
